{% extends "partials/clean_page.twig" %}

{% block config %}
  {{ parent() }}
  {% set ExtraData = ExtraData|merge(
    {
      body_classes: 'e-page is-home'
    }
  ) %}
{% endblock %}

{# Если нужно что-то добавить в head, добавляй в одноименный блок #}
{% block head %}
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="/js/jquery-2.1.3.min.js"></script>  
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.toast.min.js"></script>
<script src="/js/bootpopup.js"></script>
<script src='/js/tinymce/tinymce.min.js'></script>
<script src='/js/tinymce/jquery.tinymce.min.js'></script>
<script src="/js/qwerty.js"></script>
<script>
function js_translate(str) {
if (str == '{$phraseclose}') { str = '{$btn_close}'; } if (str == 'Close') { str = '{$btn_close}'; }
if (str == '{$phraseok}') { str = '{$btn_ok}'; }
if (str == '{$phrasecancel}') { str = '{$btn_cancel}'; }
if (str == '{$phraseyes}') { str = '{$btn_yes}'; }
if (str == '{$phraseno}') { str = '{$btn_no}'; }
return str;
}
</script>
{{ parent() }}
{% endblock %}

{# Если нужно добавить только стили, добавляй в блок css #}
{% block css %}
<!-- Bootstrap core CSS -->
<link href="/css/main_modal.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/jquery.toast.min.css" rel="stylesheet">
{{ parent() }}
{% endblock %}


{# Расскоментируй строку ниже, если не нужна шапка #}
{# {% block header %}{% endblock %} #}


{% block content %}

{# Основное содержание добавляй сюда #}
<div class="container">
{$page_content_html}
</div>

{% endblock %}

{# Расскоментируй строку ниже, если не нужна шапка #}
{# {% block footer %}{% endblock %} #}
