{% extends "partials/base.twig" %}

{% block config %}
  {{ parent() }}
  {% set ExtraData = ExtraData|merge(
    {
      body_classes: 'is-home'
    }
  ) %}
{% endblock %}

{# Если нужно что-то добавить в head, добавляй в одноименный блок #}
{# {% block head %}
{{ parent() }}
<script src="/js/md5.js"></script>
{% endblock %} #}

{# Если нужно добавить только стили, добавляй в блок css #}
{# {% block css %}
{{ parent() }}
<link rel="stylesheet" href="/bootstrap.css">
{% endblock %} #}


{# Расскоментируй строку ниже, если не нужна панель навигации #}
{# {% block navbar %}{% endblock %} #}

{% block content %}

  {# Основное содержание добавляй сюда #}
  <h1>Hello world</h1>

{% endblock %}

{# Расскоментируй строку ниже, если не нужна подвал #}
{# {% block footer %}{% endblock %} #}
