{% extends "partials/base.twig" %}

{% block assets %}
  <script src="/js/jquery-2.1.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.toast.min.js"></script>
  <script src="/js/bootpopup.js"></script>
  <script src="/js/qwerty.js"></script>
  <script src='/js/tinymce/tinymce.min.js'></script>
  <script src='/js/tinymce/jquery.tinymce.min.js'></script>
  <script>
    function js_translate(str) {
      if (str == '{$phraseclose}') { str = '{$btn_close}'; } if (str == 'Close') { str = '{$btn_close}'; }
      if (str == '{$phraseok}') { str = '{$btn_ok}'; }
      if (str == '{$phrasecancel}') { str = '{$btn_cancel}'; }
      if (str == '{$phraseyes}') { str = '{$btn_yes}'; }
      if (str == '{$phraseno}') { str = '{$btn_no}'; }
      return str;
    }
  </script>
  {{ parent() }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ ExtraData.assets_prefix }}/assets/css/legacy.css">
  {{ parent() }}
{% endblock %}

{% block content %}

  <div class="e-container mt-half-max">
    {{ content|raw }}
  </div>

{% endblock %}
