@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// #region: BASE ACCORDION
// -----------------------------------------------------------------------------

/* details */.e-accordion {
  --summary-color: var(--color-text);
  --summary-padding-y: var(--dim-3);
  --summary-padding-right: var(--dim-5);

  border-top: 1px solid var(--color-border);
  display: block;
  overflow: hidden;

  summary {
    color: var(--summary-color);
    cursor: pointer;
    font-weight: 500;
    padding-top: calc(var(--summary-padding-y) - rem(1));
    padding-inline-end: var(--summary-padding-right);
    padding-bottom: var(--summary-padding-y);
    position: relative;
    transition: color var(--duration-50) var(--easing-base);
    width: 100%;

    &:focus-visible {
      @include state-focus;
    }
  }

  // Body Animation
  // stylelint-disable-next-line selector-pseudo-element-no-unknown
  &::details-content {
    color: var(--color-text-02);
    transition:
      content-visibility var(--duration-200) var(--easing-base),
      height var(--duration-200) var(--easing-base);
    transition-behavior: allow-discrete;
    height: 0;
  }

  // Open
  &[open] {
    .e-accordion__marker {
      --icon-stroke: var(--color-bg-z1);
      background-color: var(--color-text-03);
      rotate: 180deg;
    }

    // stylelint-disable-next-line selector-pseudo-element-no-unknown
    &::details-content {
      height: auto;
    }
  }
}

.e-accordion__marker {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-pill);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: rem(2);
  position: absolute;
  top: var(--dim-2p5);
  inset-inline-end: 0;
  transition:
    rotate var(--duration-50) var(--easing-base),
    background-color var(--duration-50) var(--easing-base);
  width: var(--dim-4);
  height: var(--dim-4);
}

.e-accordion + :not(.e-accordion) {
  margin-top: var(--dim-lh);

  @media (--tablet) {
    margin-top: calc(var(--dim-lh) * 2);
  }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: HEADER CONTAINING A HGROUP
// -----------------------------------------------------------------------------

.e-accordion__header.has-hgroup {
  display: flex;
  align-items: center;
  gap: var(--dim-2);

  @media (--phone-l) {
    gap: var(--dim-3);
  }
}

.e-accordion__hgroup {
  flex: 1 1 auto;
  min-width: 0;
}

:where(.e-accordion__header.has-hgroup) {
  .e-h3 {
    margin-bottom: rem(-8);

    @media (--tablet) {
      margin-bottom: rem(-16);
    }
  }

  .text-02 {
    @include text-truncate();

    display: block;
    padding-top: var(--padding-top-base);
    padding-bottom: var(--padding-bottom-base);
  }

  .e-accordion__marker {
    top: 50%;
    translate: 0 (-50%);
  }
}

.e-accordion__spot-icon {
  @include spot-icon();
}

// #endregion

// -----------------------------------------------------------------------------
// #region: CONTENT
// -----------------------------------------------------------------------------

.e-accordion__body h3 {
  @include text-format(base);

  color: var(--color-text);
  font-weight: 500;
}

// #endregion
