@use 'abstracts' as *;

.e-avatar {
  border-radius: var(--radius-pill);
  width: var(--dim-6);
  height: var(--dim-6);
}

.e-avatar.is-empty {
  background: var(--color-gradient-brand);
  color: var(--button-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-shadow: 0 1px 0 var(--color-alpha-light-400);
}
