@use 'abstracts' as *;

.e-page.is-trading .e-header {
  background-color: transparent;
  box-shadow: none;
  position: static;
  translate: 0 rem(-20);

  @media (--tablet) {
    translate: 0;
  }
}


.e-page.is-trading {
  .e-navbar__search-toggle,
  .e-header__cancel {
    display: none;
  }
}

// Base
.e-balance {
  background:
    radial-gradient(
      50% 150% at 0% 100%,
      rgb(255 255 255 / 0.1),
      rgb(255 255 255 / 0.09) 2%,
      rgb(255 255 255 / 0.08) 10%,
      rgb(255 255 255 / 0.06) 21%,
      rgb(255 255 255 / 0.04) 36%,
      rgb(255 255 255 / 0.02) 54%,
      rgb(255 255 255 / 0.01) 76%,
      rgb(255 255 255 / 0)
    ),
    radial-gradient(
      50% 150% at 100% 0%,
      rgb(255 255 255 / 0.2) 0%,
      rgb(255 255 255 / 0.19) 2%,
      rgb(255 255 255 / 0.16) 10%,
      rgb(255 255 255 / 0.12) 21%,
      rgb(255 255 255 / 0.08) 36%,
      rgb(255 255 255 / 0.04) 54%,
      rgb(255 255 255 / 0.01) 76%,
      rgb(255 255 255 / 0)
    ),
    var(--color-bg-z1);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  gap: var(--dim-2);
  padding: rem(9) var(--dim-2);
  width: 100%;

  @media (--tablet) {
    width: min(100%, rem(373));
  }

  @media (--tablet-l) {
    grid-column: span 1;
  }

  @media (--laptop) {
    grid-column: span 2;
  }

  &:hover {
    text-decoration: none;
  }
}

// Icon
.e-balance__icon {
  --icon-stroke: var(--color-text-02-brand-accent);
  --icon-bg: var(--color-fill);

  background: var(--icon-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: var(--dim-5);
  height: var(--dim-5);
}

.e-balance__icon.is-warning {
  --icon-stroke: hsl(var(--h-yellow) var(--s) 24%);
  --icon-bg: hsl(var(--h-yellow) var(--s) 44%);
}

.e-balance__label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;

  /* Amount */
  b {
    color: var(--color-text);
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-bottom: rem(-4);
  }

  /* Account Balance */
  small {
    color: var(--color-text-02);
    font-size: var(--font-size-caption);
    letter-spacing: var(--letter-spacing-caption);
    line-height: var(--line-height-caption);
  }
}

.e-balance .e-btn {
  --button-padding-x: var(--dim-0p5);
  --button-height: var(--dim-4);
  --icon-stroke: var(--color-text-02-brand);
}


/* #endregion */
