@use 'abstracts' as *;

// Increase main content top padding for an absolute positioned balance panel
.e-page.is-trading .e-main {
  @media (--phone) {
    padding-top: calc(var(--size-line) * 4);
  }
}

// Base
.e-balance {
  background:
    radial-gradient(
      50% 150% at 0% 100%,
      rgb(255 255 255 / 0.1),
      rgb(255 255 255 / 0.09) 2%,
      rgb(255 255 255 / 0.08) 10%,
      rgb(255 255 255 / 0.06) 21%,
      rgb(255 255 255 / 0.04) 36%,
      rgb(255 255 255 / 0.02) 54%,
      rgb(255 255 255 / 0.01) 76%,
      rgb(255 255 255 / 0)
    ),
    radial-gradient(
      50% 150% at 100% 0%,
      rgb(255 255 255 / 0.2) 0%,
      rgb(255 255 255 / 0.19) 2%,
      rgb(255 255 255 / 0.16) 10%,
      rgb(255 255 255 / 0.12) 21%,
      rgb(255 255 255 / 0.08) 36%,
      rgb(255 255 255 / 0.04) 54%,
      rgb(255 255 255 / 0.01) 76%,
      rgb(255 255 255 / 0)
    ),
    var(--color-bg-level-01);
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  gap: var(--size-2);
  padding: rem(9) var(--size-2);
  position: absolute;
  top: rem(152);
  inset-inline: var(--size-2p5);
  width: calc(100% - rem(40));

  @media (--tablet) {
    position: static;
    width: min(100%, rem(373));
  }

  @media (--tablet-l) {
    grid-column: span 1;
  }

  @media (--laptop) {
    grid-column: span 2;
  }

  &:hover {
    text-decoration: none;
  }
}

// Icon
.e-balance__icon {
  --icon-stroke: var(--color-ink-2ry-brand-accent);
  --icon-bg: var(--color-ink-min);

  background: var(--icon-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: var(--size-5);
  height: var(--size-5);
}

.e-balance__icon.is-warning {
  --icon-stroke: hsl(var(--h-yellow) var(--s) 24%);
  --icon-bg: hsl(var(--h-yellow) var(--s) 44%);
}

.e-balance__label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;

  /* Amount */
  b {
    color: var(--color-ink-text);
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-bottom: rem(-4);
  }

  /* Account Balance */
  small {
    color: var(--color-ink-2ry);
    font-size: var(--font-size-caption);
    letter-spacing: var(--letter-spacing-caption);
    line-height: var(--line-height-caption);
  }
}

.e-balance .e-btn {
  --button-padding-x: var(--size-half);
  --button-height: var(--size-4);
  --icon-stroke: var(--color-ink-2ry-brand);
}


/* #endregion */
