@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// BASE STYLES FOR BUTTONS
// -----------------------------------------------------------------------------
// #region

.e-btn,
button,
input[type='submit'],
input[type='button'],
input[type='reset'],
a[role='button'] {
  // --icon-stroke: var(--color-text-02-brand);
  @include button;
}

// Убирает внутреннюю границу и отступы в Firefox
:where(button, [type='button'], [type='reset'], [type='submit'])::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
// #endregion

// -----------------------------------------------------------------------------
// TYPES
// -----------------------------------------------------------------------------
// #region

// Primary
.e-btn.is-primary {
  @include button-primary;
}

// Outline and ghost
.e-btn.is-outline,
.e-btn.is-ghost {
  background: transparent;

  &:active,
  &:focus-visible {
    background: var(--color-fill);
  }

  @media (any-hover: hover) {
    &:hover {
      background: var(--color-fill);
    }
  }
}

.e-btn.is-outline {
  border: 1px solid var(--color-border);
}

// Link: use instead a(href='#') and a(href='javascript:void(0)')
.e-btn.is-link {
  appearance: none;
  background: transparent;
  border-radius: 0;
  color: var(--color-link);
  gap: 0;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  padding: 0;
  transition: filter var(--duration-50) var(--easing-base);
  vertical-align: baseline;
  height: auto;

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }
}

// Icon
.e-btn.is-icon {
  --button-padding-x: 0;
  aspect-ratio: 1;
  width: var(--button-height);

  > .label,
  > .e-label {
    @include visually-hidden;
  }
}

.e-btn.is-close {
  --button-padding-x: 0;
  aspect-ratio: 1;
  border-radius: var(--radius-pill);
  backdrop-filter: var(--backdrop-filter-glass);
  z-index: var(--z-fixed);

  &:focus-visible {
    background: var(--button-hover, var(--color-fill));
    outline: none;
  }

  // Expanded clickable area
  &::after {
    background: transparent;
    content: '';
    position: absolute;
    inset: -1 * rem(2);
    border-radius: inherit;
  }
}

.e-btn.has-start-icon {
  padding-inline-start: calc(var(--button-padding-x) - var(--dim-0p5));
}

.e-btn.has-end-icon {
  padding-inline-end: calc(var(--button-padding-x) - var(--dim-0p5));
}

.e-btn.has-both-icons {
  padding-inline: calc(var(--button-padding-x) - var(--dim-0p5));
}

// Tag
.e-btn.is-tag {
  --button-height: var(--dim-4);
  border-radius: var(--radius-pill);
  color: var(--color-text-02);
  gap: var(--dim-1);

  &.has-start-icon {
    padding-inline-start: var(--dim-1);
    padding-inline-end: var(--dim-1p5);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// DISABLED STATE
// -----------------------------------------------------------------------------
// #region

.e-btn[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
a[role='button'][disabled] {
  @include state-disabled();
}
// #endregion

// -----------------------------------------------------------------------------
// BUTTON GROUP
// -----------------------------------------------------------------------------
// #region

.e-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--dim-1p5);

  @supports not (gap: 4px) {
    > * {
      margin-bottom: var(--dim-2);

      @media (--tablet) {
        margin-bottom: 0;
      }
    }

    .e-btn + .e-btn {
      margin-left: var(--dim-1p5);
    }
  }
}
// #endregion
