@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// #region: BASE
// -----------------------------------------------------------------------------

.e-card {
  background-color: var(--color-bg-z1);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-block: var(--dim-3);
  padding-inline: var(--dim-3);

  @media (--tablet-l) {
    padding-block: var(--dim-4);
    padding-inline: var(--dim-4);
  }
}

.e-card__copy {
  padding: var(--padding-x-box);
}

// Title
.e-card__title {
  @include text-format(base);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-titles);
  letter-spacing: 0.4px;
  margin-bottom: 0;
}

.e-card__title.e-h3 {
  @include text-format(h3);
}

// Summary
.e-card__desc {
  color: var(--color-text-02);
}

.e-card__content {
  flex-grow: 1;
}

.e-card__row {
  display: flex;
  gap: var(--dim-1p5);
  justify-content: space-between;
}

.e-card__change {
  display: flex;
  align-items: center;
  gap: var(--dim-1p5);
}

// Image
.e-card__img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.e-card__spot-icon {
  @include spot-icon();
}

.e-card.is-featured {
  --card-bg-image:
    image-set(
      url('#{$assets-prefix}/assets/img/pages/home/featured-feature.jpg') 1x,
      url('#{$assets-prefix}/assets/img/pages/home/featured-feature@2x.jpg') 2x
    );

  background:
    linear-gradient(hsl(var(--h) var(--s-min) 18% / 0.86), hsl(var(--h) var(--s-min) 18% / 0.86)),
    linear-gradient(hsl(var(--h) var(--s-min) 18%), hsl(var(--h) var(--s-min) 18%)),
    var(--card-bg-image);
  background-blend-mode: normal, color, normal;
  background-size: auto, auto, cover;
}

.e-card.is-highlight,
.e-card.is-album-metric {
  background:
    radial-gradient(
      circle farthest-corner at 0% 100%,
      rgb(255 255 255 / 0.1),
      rgb(255 255 255 / 0.09) 2%,
      rgb(255 255 255 / 0.08) 10%,
      rgb(255 255 255 / 0.06) 21%,
      rgb(255 255 255 / 0.04) 36%,
      rgb(255 255 255 / 0.02) 54%,
      rgb(255 255 255 / 0)
    ),
    radial-gradient(
      circle farthest-side at 100% 0%,
      rgb(255 255 255 / 0.2),
      rgb(255 255 255 / 0.19) 2%,
      rgb(255 255 255 / 0.16) 10%,
      rgb(255 255 255 / 0.12) 21%,
      rgb(255 255 255 / 0.08) 36%,
      rgb(255 255 255 / 0.04) 54%,
      rgb(255 255 255 / 0.01) 75%,
      rgb(255 255 255 / 0)
    ),
    var(--color-bg-z1);
  background-blend-mode: screen, screen, normal;
}

// Gemini add-ons
.e-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee; /* Separator */
  padding-bottom: 0.75rem;
}

// #endregion

// -----------------------------------------------------------------------------
// #region: LINK
// -----------------------------------------------------------------------------

.e-card.is-link {
  @media (any-hover: hover) {
    transition: filter var(--duration-100) var(--easing-base);

    &:hover {
      filter: var(--filter-brightness-up);
      text-decoration: none;
    }
  }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: VARIANTS
// -----------------------------------------------------------------------------

:where(.e-section.has-scroller-row) .e-card,
:where(.e-section.has-scroller-row-reverse) .e-card {
  width: 100%;
  max-width: rem(260);

  @media (--tablet) {
    max-width: rem(284);
  }

  @media (--tablet-l) {
    max-width: rem(298);
  }

  @media (--laptop) {
    max-width: rem(290);
  }
}

:where(.e-section.is-features) .e-card {
  background-image:
    radial-gradient(
      circle farthest-corner at 0% 100%,
      hsl(var(--h-green) var(--s) 83% / 0.1),
      hsl(var(--h-green) var(--s) 83% / 0.05) 33.33%,
      hsl(var(--h-green) var(--s) 83% / 0)
    );

  .e-card__base {
    margin-top: auto;
    min-height: rem(136);
  }

  .e-card__desc {
    margin-bottom: 0;
  }
}

:where(.e-section.is-features) .e-card,
:where(.e-section.is-testimonials) .e-card {
  height: rem(408);
}
// #endregion
