@use 'abstracts' as *;

// BASE CONTAINER
.e-container {
  @include container;

  &.is-md {
    max-width: rem(818);
  }

  &.is-5\/6 {
    max-width: rem(1110);
  }
}

// CONTENT CONTAINERS
// For list view, e. g. SERP or blog feed
.e-col-1\/1 {
  list-style: none;
  margin: 0 auto;
  width: min(100%, var(--width-readable));
}


