@use 'abstracts' as *;

// BASE CONTAINER
.e-container {
  @include container;
}

// CONTENT CONTAINERS
// For list view, e. g. SERP or blog feed
.e-col-1\/1 {
  list-style: none;
  margin: 0 auto;
  width: min(100%, var(--width-readable));
}

.e-main {
  flex: 1;
  padding-top: var(--size-3);

  @media (--tablet) {
    // Make room for navbar...
    padding-inline-start: var(--navbar-area);
  }

  @media (--tablet-l) {
    padding-top: var(--size-4);
  }
}

:where(.e-page:not(.is-app)) .e-main {
  padding-top: var(--size-5);

  @media (--tablet-l) {
    // On promotional and informational pages, the navbar is located at the top.
    padding-top: rem(144);
    padding-inline-start: 0;
  }
}
