@use 'abstracts' as *;

.e-cta {
  background:
    radial-gradient(
      circle 200px at 50% 0,
      var(--color-gradient-brand-radial)
    );
  text-align: center;
  margin-inline: auto;
  padding-top: rem(72);
  padding-bottom: var(--dim-5);
  padding-inline: var(--padding-x-container);
  position: relative;

  // Decorative ball
  &::before {
    background: var(--color-gradient-brand);
    border-radius: var(--radius-pill);
    content: '';
    display: block;
    position: absolute;
    top: calc(-1 * var(--dim-3));
    left: 50%;
    translate: -50% 0;
    width: var(--dim-6);
    height: var(--dim-6);
  }

  @media (--tablet-l) {
    max-width: rem(702);
  }

  @media (--laptop) {
    max-width: rem(732);
  }
}

.e-cta h2 {
  margin-bottom: 0;
}

.e-cta p {
  margin-bottom: var(--dim-3);
}
