@use 'abstracts' as *;

.e-drawer {
  background-color: var(--color-bg-02);
  border: 0;
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  box-shadow: var(--shadow-z3);
  color: var(--color-text);
  flex-direction: column;
  margin-block: 0;
  margin-inline: auto;
  padding: 0;
  overflow-y: auto;
  position: fixed;
  top: auto;
  bottom: 0;
  translate: 0 100%;
  transition:
    display calc(var(--duration-500) * 0.8) var(--easing-disappearance),
    translate calc(var(--duration-500) * 0.8) var(--easing-disappearance);
  transition-behavior: allow-discrete;
  width: 100%;
  max-height: calc(100vh - var(--dim-5));
  max-height: calc(100dvh - var(--dim-5));
  z-index: var(--z-drawer);

  // The backdrop appears only in modal mode when the dialog is opened using
  // the `showModal` method
  &::backdrop {
    background-color: var(--color-backdrop);
  }

  &[open] {
    display: flex;
    translate: 0 0;
    transition:
      display var(--duration-500) var(--easing-appearance),
      translate var(--duration-500) var(--easing-appearance);

    @starting-style {
      translate: 0 100%;
    }
  }

  @media (pointer: fine) {
    @include scrollbar();
  }

  // pseudo backdrop
  @media (--phone) {
    &::after {
      background-color: var(--color-backdrop);
      content: '';
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }
  }
}

// -----------------------------------------------------------------------------
// Variants
// -----------------------------------------------------------------------------

.e-drawer.is-bottom {
  @media (--tablet) {
    max-width: rem(1184);
    height: 50vh;
    max-height: 50vh;
    max-height: 50dvh;
  }
}

.e-drawer.is-end {
  @media (--tablet) {
    border-radius: 0;
    top: 0;
    inset-inline-start: auto;
    inset-inline-end: 0; /* Прижимаем к правому краю (с учетом gutter) */
    /* ИСХОДНОЕ ПОЛОЖЕНИЕ (закрыто): сдвигаем на 100% своей ширины вправо */
    translate: 100% 0;
    width: var(--width-md);
    height: 100%;
    max-height: none;

    &[open] {
      /* ОТКРЫТОЕ ПОЛОЖЕНИЕ: без сдвига, панель на своем месте */
      translate: 0 0;
      transition:
        display var(--duration-500) var(--easing-appearance), /* display остается, если нужно */
        translate var(--duration-500) var(--easing-appearance);

      @starting-style {
        /* Начальное состояние для анимации открытия */
        translate: 100% 0;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.e-drawer__header {
  padding-top: var(--padding-x-box);
  padding-inline-start: var(--padding-x-box);
  padding-inline-end: var(--dim-7);
  position: relative;

  @media (--tablet) {
    padding-top: var(--dim-4);
    padding-inline-start: var(--dim-4);
  }
}

.e-drawer .e-btn.is-close {
  background: transparent;
  position: absolute;
  top: var(--dim-1);
  inset-inline-end: var(--dim-1);

  &:hover {
    --icon-stroke: var(--color-text);
    background-color: var(--color-fill);
  }
}

.e-drawer__content {
  flex-grow: 1;
  padding-bottom: var(--padding-x-box);
  padding-inline: var(--padding-x-box);

  @media (--tablet) {
    padding-bottom: var(--dim-4);
    padding-inline: var(--dim-4);
  }
}

.e-drawer__footer {
  padding-bottom: var(--padding-x-box);
  padding-inline: var(--padding-x-box);

  @media (--tablet) {
    padding-bottom: var(--dim-4);
    padding-inline: var(--dim-4);
  }
}

.e-drawer__chart {
  // background-color: var(--color-bg-base);
  // border-radius: var(--radius-md);
  width: 100%;
  height: rem(400);

  > div {
    height: 100%;
  }
}



