@use 'abstracts' as *;

.e-footer {
  @media (--tablet) {
    // Make room for navbar...
    padding-inline-start: var(--navbar-area);
  }

  @media (--tablet-l) {
    :where(.e-page:not(.is-app)) & {
      padding-inline-start: 0;
    }
  }
}

.e-footer > .e-container {
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacer);
  padding-top: var(--dim-6);
  padding-bottom: rem(96);

  @media (--tablet) {
    padding-bottom: rem(34);
  }

  @media (--laptop) {
    display: grid;
    align-items: start;
    gap: var(--dim-4);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: var(--grid-rows, auto);
    padding-bottom: var(--dim-6);
  }
}

.e-footer__menu,
.e-footer__submenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.e-footer__menu {
  margin-block: var(--lh) var(--dim-6);

  > * {
    // grid-column: auto / span 2;
    padding: 0;
  }

  @media (--phone-l) {
    flex-direction: row;
    gap: var(--dim-4);
    grid-column: auto / span 6;

    // display: grid;
    // grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @media (--laptop) {
    margin-block: 0;
  }
}

.e-footer__submenu {
  @media (--laptop) {
    align-items: start;

    > li {
      padding: 0;
    }

    > li + li {
      margin-top: var(--dim-1);
    }
  }
}


// Typography
.e-footer__copy,
.e-footer__menu a,
.e-footer summary {
  @include text-format(fine-print);
  display: inline-flex;
  text-align: center;
}

.e-footer__copy {
  color: var(--color-text-02);

  @media (--laptop) {
    grid-column: 1 / span 2;
  }
}

.e-footer__menu a,
.e-footer__summary {
  @include text-format(fine-print);

  color: var(--color-text);
  display: block;
}

// Popover: Languages
.e-footer__languages {
  @media (--laptop) {
    grid-column: auto / span 4;
    justify-self: end;
    margin-top: rem(-3);
  }
}

:where(.e-footer) summary::after {
  rotate: 180deg;
}

:where(.e-footer .e-popover[open]) summary::after {
  rotate: 0deg;
}

.e-footer__languages .e-popover__body {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  translate: 0 var(--dim-5);

  @media (--tablet-l) {
    left: auto;
    right: 0;
    transform: none;
  }

  @media (--laptop) {
    translate: 0 0;
  }
}

:where(.e-footer__languages summary) {
  span { display: none; }
}

[data-lang^='ru'] .e-footer__ru { display: inline; }
[data-lang^='en'] .e-footer__en { display: inline; }


[data-lang^='ru'] .e-menu__item.is-ru,
[data-lang^='en'] .e-menu__item.is-en {
  background-color: var(--menu-current-bg, hsl(0 0% 100% / 0.04));
  border-radius: var(--radius-sm);
  cursor: default;
  pointer-events: none;
}
