@use 'abstracts' as *;

.e-footer {
  @media (--tablet) {
    // Make room for navbar...
    padding-inline-start: var(--navbar-area);
  }

  @media (--tablet-l) {
    :where(.e-page:not(.is-app)) & {
      padding-inline-start: 0;
    }
  }
}

.e-footer > .e-container {
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacer);
  padding-top: var(--dim-6);
  padding-bottom: rem(96);

  @media (--tablet) {
    padding-bottom: rem(34);
  }

  @media (--laptop) {
    flex-direction: row;
    padding-bottom: var(--dim-6);
  }
}

.e-footer__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--dim-1);
  list-style: none;
  margin: var(--dim-3) 0;
  padding: 0;

  li {
    padding: 0;
  }

  @media (--tablet-l) {
    flex-direction: row;
    gap: var(--dim-2);
    margin: 0;
    padding-inline-start: var(--dim-5);
  }
}

.e-footer__menu-item.is-privacy,
.e-footer__menu-item.is-widgets {
  @media (--tablet-l) {
    border-inline-start: 1px solid var(--color-border);
    padding-inline-start: var(--dim-2);
  }
}

// Typography
.e-footer__copy,
.e-footer__menu a,
.e-footer summary {
  @include text-format(fine-print);
  display: inline-flex;
  text-align: center;
}

.e-footer__copy {
  color: var(--color-text-02);
}

.e-footer__menu a,
.e-footer__summary {
  @include text-format(fine-print);

  color: var(--color-text);
  display: block;
}

// Popover: Languages

:where(.e-footer) summary::after {
  rotate: 180deg;
}

:where(.e-footer .e-popover[open]) summary::after {
  rotate: 0deg;
}

.e-footer__languages .e-popover__body {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  translate: 0 var(--dim-5);

  @media (--tablet-l) {
    left: auto;
    right: 0;
    transform: none;
  }
}

:where(.e-footer__languages summary) {
  span { display: none; }
}

[data-lang^='ru'] .e-footer__ru { display: inline; }
[data-lang^='en'] .e-footer__en { display: inline; }


[data-lang^='ru'] .e-menu__item.is-ru,
[data-lang^='en'] .e-menu__item.is-en {
  background-color: var(--menu-current-bg, hsl(0 0% 100% / 0.04));
  border-radius: var(--radius-sm);
  cursor: default;
  pointer-events: none;
}
