@use 'abstracts' as *;

.e-header {
  background-color: var(--color-bg-02);
  box-shadow: var(--shadow-z2);
  position: fixed;
  padding-block: var(--dim-2p5);
  top: 0;
  right: 0;
  left: 0;
  translate: 0 -100%;
  transition: translate var(--duration-200) var(--easing-base);
  z-index: var(--zindex-drawer);

  @media (--tablet) {
    background-color: transparent;
    box-shadow: none;
    position: static;
    padding-top: var(--dim-5);
    padding-bottom: 0;
    padding-inline-start: var(--navbar-area);
    translate: 0 0;
  }
}

.e-header.is-open {
  translate: 0 0;

  &::after {
    // Overlay
    @media (--phone) {
      background-color: var(--color-bg-scrim);
      backdrop-filter: var(--backdrop-filter-glass);
      content: '';
      pointer-events: none;
      position: fixed;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }
  }
}

.e-header > .e-container {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;


  @media (--tablet) {
    gap: var(--dim-lh);
  }

  @media (--tablet-l) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--dim-4);
  }

  @media (--laptop) {
    grid-template-columns: repeat(5, 1fr);
  }
}

// QUICK STATS
.e-header__stats {
  @include text-format(caption);

  display: none;

  @media (--tablet) {
    display: flex;
    justify-content: end;
    gap: var(--dim-2);
    font-weight: 600;
  }

  @media (--tablet-l) {
    grid-column: span 1;
  }

  @media (--laptop) {
    grid-column: span 2;
  }
}

.e-header__stat-item {
  display: none;
  align-items: center;
  gap: 1ch;
  white-space: nowrap;
  user-select: none;

  @media (--tablet) {
    &:nth-child(3) {
    display: flex;
    }
  }

  @media (--tablet-l) {
    display: flex;
  }
}

.e-header__stat-value {
  background-color: var(--color-fill);
  border-radius: var(--radius-xs);
  display: block;
  white-space: nowrap;
  padding-block: var(--dim-0p5);
  padding-inline: var(--dim-1);

  &.is-error {
    background-color: var(--color-text-02-error);
  }

  &.is-success {
    background-color: var(--color-text-02-success);
  }
}

[lang='ru'] [id='stat-fgi-label'] {
  text-transform: lowercase;
}

// Market level color codes
:where(.e-header__stats) {
  .is-hamburger.is-error  {
    --icon-stroke: var(--color-border-strong);

    .e-icon-hamburger__low {
      --icon-stroke: var(--color-text-02-error);
    }
  }

  .is-hamburger.is-neutral  {
    --icon-stroke: var(--color-text-02);

    .e-icon-hamburger__high {
      --icon-stroke: var(--color-border-strong);
    }
  }

  .is-hamburger.is-success  {
    --icon-stroke: var(--color-text-02-success);
  }
}

.e-header__indicator {
  flex: none;
}

// Update animation
.e-header__stats.is-updated {
  .e-header__stat-item {
    will-change: filter;
    animation: quick-stat-blink 1.6s var(--easing-appearance) forwards;

    &:nth-child(2) { animation-delay: 0.8s; }
    &:nth-child(3) { animation-delay: 1.6s; }
  }
}

@keyframes quick-stat-blink {
  0%, 40% { filter: brightness(1.5); }
  100%    { filter: brightness(1);   }
}
