@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region

.e-header__search {
  flex: 1;
  position: relative;

  @media (--tablet-l) {
    grid-column: span 1;
  }

  @media (--laptop) {
    grid-column: span 2;
  }
}

.e-header__search [type='search'] {
  border: 0;
  border-radius: var(--radius-md);
  padding-left: var(--dim-7);
  width: 100%;
}

.e-header__search .e-icon {
  pointer-events: none;
  position: absolute;
  left: var(--dim-2p5);
  top: 50%;
  translate: 0 (-50%);
}

// Search controls

.e-navbar__search-toggle {
  --icon-stroke: var(--color-text-02-info);
  margin-inline-start: auto;
}

.e-header__cancel {
  color: var(--color-text-02);
  margin-inline-end: rem(-20);
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
  background: var(--icon-x-mark) no-repeat center center;
  cursor: pointer;
  margin-inline-end: var(--dim-1p5);
  width: var(--dim-4);
  height: var(--dim-4);
}
// #endregion

// -----------------------------------------------------------------------------
// SEARCH RESULTS SUGGESTIONS
// -----------------------------------------------------------------------------
// #region
.e-search__suggestions {
  --popover-body-color: var(--color-text-02);
  --popover-body-width: var(--width-sm);
  --popover-body-padding-x: var(--padding-x-box);
  --popover-body-padding-y: var(--padding-x-box);

  background-color: var(--popover-body-background);
  border-radius: var(--popover-body-border-radius);
  border: var(--popover-body-border);
  box-shadow: var(--popover-body-box-shadow);
  color: var(--popover-body-color);
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  margin: rem(5) 0 0;
  padding-block: var(--popover-body-padding-y);
  padding-inline: var(--popover-body-padding-x);
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transition:
    opacity calc(var(--duration-200) * 0.8) var(--easing-disappearance),
    translate calc(var(--duration-200) * 0.8) var(--easing-disappearance);
  translate: 0 rem(-8);
  width: calc(100vw - var(--dim-2p5) * 2);
  max-height: calc(100vh - #{rem(112)});
  z-index: var(--zindex-popover);

  &.is-visible {
    pointer-events: all;
    opacity: 1;
    transition:
      opacity var(--duration-200) var(--easing-appearance),
      translate var(--duration-200) var(--easing-appearance);
    translate: 0 0;
  }

  @media (--phone-l) {
    width: 100%;
    max-height: calc(100vh - #{rem(132)});
  }

}

:where(.e-search__suggestions-group) > h3,
:where(.e-search__suggestions-link) > a {
  @include text-format(caption);

  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

:where(.e-search__suggestions-group) > ul {
  padding-inline: 0;
}

:where(.e-search__suggestions-link) > a,
.e-search__suggestions-group + .e-search__suggestions-group {
  margin-top: var(--dim-3);
}

.e-search__suggestion {
  @include text-truncate;

  cursor: pointer;
  list-style: none;
  padding-inline-start: var(--dim-2);
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-link);
      text-decoration: underline;
      text-decoration-thickness: rem(1);
      text-underline-offset: 0.125em;
    }
  }

  &::marker {
    content: none;
  }

  &::before {
    content: '\2022';
    color: var(--color-text-02-brand);
    margin-inline-end: var(--dim-1);
    position: absolute;
    top: rem(6);
    inset-inline-start: 0;
  }
}

.e-search__suggestion + .e-search__suggestion {
  margin-top: var(--dim-1);
}
// #endregion
