@use 'abstracts' as *;

.e-hero > .e-container {
  @media (--tablet-l) {
    display: grid;
    grid-column-gap: var(--dim-3);
    grid-row-gap: 0;
    grid-template-areas: 'img img int txt';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

// IMAGE

.e-hero__image {
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  overflow: hidden;
  margin-bottom: 0;

  @media (--tablet-l) {
    border-radius: var(--radius-xl);
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: rem(552);
  }
}

.e-hero__image > img {
  @media (--tablet-l) {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
}

// COPY

.e-hero__copy {
  background: var(--color-bg-02); // fallback
  background-color: var(--color-bg-02-alpha);
  backdrop-filter: var(--backdrop-filter-glass);
  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
  padding-block: var(--dim-5);
  padding-inline: var(--dim-2p5);

  @media (--tablet) {
    box-shadow: var(--shadow-z3);
    align-self: center;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    padding-inline: var(--dim-5);
  }

  @media (--tablet-l) {
    border-radius: var(--radius-xl);
    align-self: center;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    padding-block: var(--dim-6);
    padding-inline: var(--dim-6);
  }
}

.e-hero__copy h1,
.e-hero__title {
  @include text-format(display);
  font-weight: var(--font-weight-titles-min);

  strong {
    font-weight: 500;
  }
}

.e-hero__copy p {
  margin-bottom: var(--dim-4);
}

