@use 'abstracts' as *;

.e-icon {
  display: inline-block;

  // Prevent the icon from shrinking inside a flex container.
  flex-shrink: 0;
  overflow: hidden;
  transition:
    fill var(--duration-50),
    opacity var(--duration-50);
  vertical-align: middle;

  width: var(--dim-icon);
  min-width: var(--dim-icon);
  height: var(--dim-icon);

  @media (--retina) {
    --icon-stroke-width: 1.5;
  }

  // Remove black fill in the FF
  // stylelint-disable-next-line at-rule-no-vendor-prefix
  @-moz-document url-prefix() {
    fill: transparent;
  }
}

.e-icon.is-sm {
  width: var(--dim-icon-sm);
  min-width: var(--dim-icon-sm);
  height: var(--dim-icon-sm);
}

.e-icon.is-error {
  --icon-stroke: var(--color-text-02-error);
}

.e-icon.is-success {
  --icon-stroke: var(--color-text-02-success);
}
