@use 'abstracts' as *;

.e-stats {
  display: flex;
  gap: var(--dim-2);

  > * {
    flex: 1;
  }

  @media (--phone) {
    overflow-x: auto;
  }
}

.e-stat {
  background-color: var(--color-bg-base);
  border-radius: var(--radius-base);
  box-shadow: var(--shadow-z1);
  display: flex;
  flex-direction: column;
  padding: var(--dim-lh) var(--dim-2p5) var(--dim-2p5);
  width: 100%;
  max-width: var(--width-md);
}

// Big beauty number
.e-stat__value {
  @include text-format(h2)
}

.e-stat__caption {
  @include text-format(label-sm);
  color: var(--color-text-02);
}
