@use 'abstracts' as *;

// List
.e-menu {
  --menu-current-bg: var(--color-ink-min);
  --menu-color: var(--color-ink-2ry);
  --menu-padding: var(--size-2);
  --menu-subtitle-margin: var(--size-2) 0 var(--size-1);

  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: var(--menu-padding);
  width: 100%;

  @media (--tablet) {
    li:not(:last-child) {
      margin-bottom: var(--size-half);
    }
  }
}

.e-menu__item {
  color: var(--menu-color);
  display: block;
  position: relative;
  padding: 0;
  width: 100%;

  &::marker {
    display: none;
  }

  // Link's moved to overrides
  > a,
  > .e-label {
    @include menu-item;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--menu-current-bg);
      }
    }

    &[aria-current] {
      background-color: var(--menu-current-bg);
      cursor: default;
      pointer-events: none;
    }
  }
}

/* button */.e-menu__action {
  @include text-format('label');

  background: transparent;
  border-radius: var(--button-radius, var(--border-radius-base));
  color: var(--button-color, var(--color-brand-primary));
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: var(--button-gap, var(--size-1p5));
  justify-content: start;
  padding-block: 0;
  padding-inline: var(--button-padding-x, var(--size-2p5));
  outline: 0;
  touch-action: manipulation;
  transition: background var(--duration-50) var(--easing-base);
  user-select: none;
  white-space: nowrap;
  width: 100%;
  min-width: 0;
  height: var(--button-height, var(--size-6));

  &.is-disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--menu-current-bg);
    }
  }
}

.e-menu__action [type='radio'] {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  top: 50%;
  translate: 0 (-50%);
  inset-inline: auto var(--size-2);
  width: var(--size-icon);
  height: var(--size-icon);

  &::after {
    background-color: var(--color-ink-3ry);
    content: '';
    mask: url('#{$assets-prefix}/assets/img/icons/icon-checkmark.svg') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    inset: 0;
    transition: opacity var(--duration-50) var(--easing-base);
  }

  &[checked='true']::after,
  &:checked:not([checked='false'])::after {
    opacity: 1;
  }
}

/* Subtitle styles */
.e-menu__subtitle {
  @include text-format(caption);

  color: var(--color-ink-text);
  font-weight: var(--font-weight-titles-max);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: var(--menu-subtitle-margin);
}

/* Text truncation for labels */
.e-menu__item > .e-label {
  @include text-truncate;

  flex-grow: 1;
  min-width: 0;
}

// Divider
.e-menu__divider {
  border-top: 1px solid var(--color-ink-border);
  height: 0;
}

