@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region

// CONTAINER
.e-modal {
  --modal-background: var(--color-bg-base);
  --modal-border-radius: var(--radius-lg);
  --modal-padding-x: var(--padding-x-box);
  --modal-padding-y: var(--lh);
  --modal-overlay-background-color: var(--color-backdrop);

  background-color: var(--modal-overlay-background-color);
  backdrop-filter: blur(var(--dim-2p5));
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: fixed;
  inset: 0;
  transition: opacity var(--duration-300) var(--easing-base);
  opacity: 1;
  // Trick. When using viewport units, the dialog is not stretched to the full screen
  width: inherit;
  min-width: 100%;
  height: inherit;
  min-height: 100%;

  &:not([open]) {
    display: none;
    opacity: 0;
  }

  &[closing] {
    opacity: 0;
  }

  &[closing] > .e-modal__base {
    opacity: 0;
    translate: 0 50%;

    @media (--tablet) {
      translate: 0 -50%;
    }
  }

  @starting-style {
    opacity: 0;
  }
}

.e-modal__base {
  background: var(--modal-background);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  box-shadow: var(--shadow-z3);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: var(--radius-md);
  padding-bottom: var(--lh);
  padding-inline: var(--dim-1);
  position: fixed;
  inset: auto 0 0;
  transition:
    translate var(--duration-300) var(--easing-base),
    opacity var(--duration-300) var(--easing-base);
  translate: 0;
  width: 100%;
  max-width: var(--modal-max-width, var(--width-xl));
  max-height: calc(100% - var(--dim-5));

  @starting-style {
    translate: 0 50%;
  }

  @media (--tablet) {
    --modal-patch-offset: var(--lh);

    border-radius: var(--modal-border-radius);
    padding-block: var(--modal-padding-x);
    inset: 0;
    height: max-content;
    max-height: calc(100vh - var(--dim-8));

    // Gradient content patches
    &::after,
    &::before {
      content: '';
      display: block;
      pointer-events: none;
      position: absolute;
      inset-inline: var(--modal-padding-x);
      height: var(--dim-4);
      z-index: 1;
    }

    &::before {
      background-image: linear-gradient(var(--color-bg-base-patch));
      top: var(--modal-patch-offset);
    }

    &::after {
      background-image: linear-gradient(to top, var(--color-bg-base-patch));
      bottom: var(--modal-patch-offset)
    }

    @starting-style {
      translate: 0 -50%;
    }
  }
}

/* Closed state animation */
.e-modal:not([open]) > .e-modal__base {
  opacity: 0;
  translate: 0 50%;

  @media (--tablet) {
    translate: 0 -50%;
  }
}

// SIZES
.e-modal.is-sm .e-modal__base {
  --modal-max-width: var(--width-md);
}
// #endregion

// -----------------------------------------------------------------------------
// CONTENT
// -----------------------------------------------------------------------------
// #region

.e-modal__body {
  padding-inline: calc(var(--modal-padding-x) - var(--dim-1));
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;

  &.e-form {
    // Add some padding for focus outline
    padding-inline: var(--modal-padding-x);
    padding-block: var(--dim-1);
  }

  @media (pointer: fine) {
    @include scrollbar();

    clip-path: inset(0 var(--dim-2));
    transition: clip-path var(--duration-300) var(--easing-base);

    &:hover {
      clip-path: inset(0);
    }
  }
}

.e-modal__tabs {
  position: relative;
}

.e-modal__tab {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
  transition:
    translate var(--duration-300) var(--easing-base),
    opacity var(--duration-300) var(--easing-base);
  min-height: 100%;
}

.e-modal__tab ~ .e-modal__tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.e-modal__tab.is-hidden {
  opacity: 0;
  pointer-events: none;
  translate: var(--dim-3) 0;
  visibility: hidden;
}
// #endregion

// -----------------------------------------------------------------------------
// HEADER AND CLOSE BUTTON
// -----------------------------------------------------------------------------
// #region

.e-modal__base .e-btn.is-close {
  background: transparent;
  position: absolute;
  top: var(--dim-2);
  right: var(--dim-2);

  &:hover {
    --icon-stroke: var(--color-text);
    background-color: var(--color-fill);
  }
}

// #endregion

// -----------------------------------------------------------------------------
// FOOTER - BUTTONS
// -----------------------------------------------------------------------------
// #region

/* Footer with buttons aligned to the right */
.e-modal__base > footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--dim-1);
  justify-content: flex-end;
  padding-inline: var(--modal-padding-x);
  position: sticky;
  z-index: 3;
}

// #endregion

// -----------------------------------------------------------------------------
// DISABLING PAGE SCROLL UNDER A MODAL WINDOW
// -----------------------------------------------------------------------------
// #region

// To prevent layout shift of fixed elements, such as a navbar, use a
// width of 100vw
html:has(dialog[open]) {
  overflow: clip;
}
// #endregion
