@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// VARIABLES AND MIXINS
// -----------------------------------------------------------------------------
// #region

// Navbar component variables
$navbar-height-mobile: rem(88);
$navbar-height-desktop: var(--dim-6);
$navbar-menu-height-mobile: rem(80);
$navbar-item-gap: var(--dim-0p5);
$navbar-dot-size: var(--dim-1);

// Mixin for navbar items with consistent styles
@mixin navbar-item {
  background-image: none;
  border-radius: var(--radius-base);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $navbar-item-gap;
  text-align: center;
  padding-top: var(--dim-1p5);
  padding-bottom: var(--dim-1);
  transition:
    background-color var(--duration-100) var(--easing-base),
    background-image var(--duration-150) var(--easing-base);
  height: 100%;

  &:active {
    background: var(--color-fill);
    text-decoration: none;
  }

  &:focus-visible {
    @include state-focus;
  }

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      background-color: hsl(0 0% 100% / 0.02);
      background-image:
      radial-gradient(
        50% 24px at 50% 100%,
        rgb(255 255 255 / 0.16),
        rgb(255 255 255 / 0.14) 2%,
        rgb(255 255 255 / 0.12) 10%,
        rgb(255 255 255 / 0.09) 21%,
        rgb(255 255 255 / 0.06) 36%,
        rgb(255 255 255 / 0.03) 54%,
        rgb(255 255 255 / 0)
      );
      text-decoration: none;
    }
  }

  @media (--tablet) {
    border-radius: 0;
    flex-grow: 1;
  }
}

// Mixin for navigation labels
@mixin navbar-label {
  @include text-format(fine-print);
  @include text-truncate;
  color: var(--color-text-02);
}
// #endregion

// -----------------------------------------------------------------------------
// BASE STYLES
// -----------------------------------------------------------------------------
// #region

.e-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--dim-1);
  padding-inline: var(--dim-2p5);
  height: $navbar-height-mobile;

  @media (--tablet) {
    background: radial-gradient(
        circle 216px at 50% 56px,
        var(--color-gradient-brand-radial)
      ),
      var(--color-bg-z1);
    align-items: stretch;
    flex-direction: column;
    padding-top: var(--dim-5);
    padding-bottom: var(--dim-4);
    padding-inline: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(96);
    height: auto;
    z-index: calc(var(--z-drawer) + 1);
  }
}

.e-navbar > .e-container {
  display: contents;
}
// #endregion

// -----------------------------------------------------------------------------
// LOGO
// -----------------------------------------------------------------------------
// #region

.e-navbar__logo {
  display: block;
  position: relative;
  width: max-content;

  &:hover {
    text-decoration: none;
  }

  .e-page.is-home & {
    cursor: default;
    pointer-events: none;
  }

  @media (--tablet) {
    align-self: center;
  }
}

.e-navbar__tagline {
  @include text-format(fine-print);
  color: var(--color-text-02);
  position: absolute;
  top: var(--dim-3);
  left: var(--dim-6);

  .is-full,
  .is-compact {
    display: none;
  }

  @media (--tablet) {
    display: block;
    font-size: rem(9);
    text-align: center;
    position: static;
    translate: 0 rem(-13);

    .is-compact {
      display: inline;
    }
  }
}

.e-navbar__beta {
  @include text-format(fine-print);
  color: var(--color-text-02-brand-accent);
  text-align: left;
  position: absolute;
  top: rem(-8);
  left: var(--dim-6);

  @media (--tablet) {
    top: rem(-32);
    left: 50%;
    translate: -50% 0;
  }
}

// #endregion

// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
// #region

.e-navbar__menu {
  background: var(--color-bg-z1);
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding-top: var(--dim-0p5);
  padding-bottom: calc(var(--dim-0p5) + env(safe-area-inset-bottom));
  padding-inline: var(--dim-1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc($navbar-menu-height-mobile + env(safe-area-inset-bottom));
  z-index: var(--z-fixed);

  @media (--tablet) {
    background: transparent;
    flex-direction: column;
    position: static;
    margin-block: auto;
    padding: 0 0 rem(96);
    height: auto;
  }
}

.e-navbar__menu-item {
  padding: 0;

  @media (--phone) {
    width: clamp(80px, 25%, 168px);
  }
}

// Menu item styles
.e-navbar__menu-item > a,
:where(.e-navbar__menu-item.is-more) [data-role='popover-summary'] {
  @include navbar-item;
}

.e-navbar__menu-label {
  @include navbar-label;
}

// Hide API and Pricing in horizontal navbar
.e-page.is-site :where(.e-navbar__menu-item.is-more):has(.e-menu__item.is-api, .e-menu__item.is-pricing) {
  display: none;
}


// Current Pages
$current-pages: dashboard, home, markets, news, trading;

@each $page in $current-pages {
  .e-page.is-#{$page} {
    .e-menu__item.is-#{$page} > a,
    .e-navbar__menu-item.is-#{$page} > a {
      background-color: hsl(0 0% 100% / 0.03);
      background-image:
        radial-gradient(
          50% 24px at 50% 100%,
          rgb(255 255 255 / 0.16),
          rgb(255 255 255 / 0.14) 2%,
          rgb(255 255 255 / 0.12) 10%,
          rgb(255 255 255 / 0.09) 21%,
          rgb(255 255 255 / 0.06) 36%,
          rgb(255 255 255 / 0.03) 54%,
          rgb(255 255 255 / 0)
        );
    }
  }
}

// Hide API item on Tablet Landscape
@media (--tablet-l-only) {
  .e-page.is-site .e-menu__item.is-api {
    display: none;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// POPOVER
// -----------------------------------------------------------------------------
// #region

.e-navbar__menu-item.is-more {
  @media (--tablet) {
    display: contents;

    .e-popover {
      display: contents;
    }

    [data-role='popover-summary'] {
      display: none;
    }
  }
}

:where(.e-navbar__menu-item.is-more .is-open) [data-role='popover-summary'] {
  background-color: var(--color-fill);
}

:where(.e-navbar__menu-item.is-more) .e-popover__body {
  bottom: 100%;
  right: var(--dim-1p5);
  translate: 0 var(--dim-5);
}

// Duplicate for override
.e-navbar__menu-item.is-more .e-popover__body {
  @media (--tablet) {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    display: contents;
    text-align: center;
    opacity: 1;
    padding: 0;
    pointer-events: all;
    position: static;
    transition: none;
    width: auto;
  }
}

.e-navbar__menu-item.is-more .e-menu__item {
  @media (--tablet-l) {
    width: auto;
  }

  > a {
    @media (--tablet) {
      @include navbar-item;
    }
  }
}

:where(.e-navbar__menu-item.is-more .e-menu__item) .e-menu__label {
  @media (--tablet) {
    @include navbar-label;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// USER
// -----------------------------------------------------------------------------
// #region

.e-navbar__sign-in {
  aspect-ratio: 1;
  padding-inline: 0;

  @media (--phone) {
    --icon-stroke: var(--button-color);
    background-color: var(--color-fill);
    border-radius: var(--radius-pill);
  }

  @media (--tablet) {
    --button-height: auto;
    aspect-ratio: unset;
    border-radius: 0;
    flex-direction: column;
    gap: $navbar-item-gap;
    padding-top: var(--dim-1p5);
    padding-bottom: var(--dim-1);
  }

  @media (--tablet-l) {
    background-color: var(--button-bg);
    border-radius: var(--radius-base);
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-titles-max);
    letter-spacing: var(--letter-spacing-body-sm);
    line-height: 1;
    padding-block: 0;
    padding-inline: var(--dim-2);
    height: $navbar-height-desktop;

    &:hover {
      filter: var(--filter-brightness-up);
    }

    .e-icon {
      display: none;
    }

    .e-navbar__menu-label {
      color: var(--color-brand-primary);
    }
  }
}

.e-page.is-app .e-navbar__sign-in {
  @media (--tablet) {
    margin-inline: var(--dim-1p5);
  }
}

.e-avatar.e-navbar__avatar {
  width: var(--dim-5);
  height: var(--dim-5);
}

.e-navbar__user-menu {
  .e-popover__body {
    left: auto;
    right: 0;
  }

  @media (--tablet) {
    margin-inline: auto;

    summary {
      translate: 0 0;
    }

    summary::after {
      display: none;
    }

    .e-popover__body {
      top: auto;
      right: auto;
      bottom: calc(100% + var(--dim-1));
      left: 0;
    }
  }
}

// Current balance
.e-menu__item.is-balance {
  > a {
    display: block;
    padding-inline-start: var(--dim-6);
    position: relative;
  }

  .e-icon {
    position: absolute;
    top: var(--dim-1);
    left: var(--dim-2);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// STATIC PAGES
// -----------------------------------------------------------------------------
// #region

:where(.e-page:not(.is-app)) {
  @media (--tablet-l) {
    .e-navbar {
      background: hsl(var(--h) var(--s-min) 14% / 0.7); // fallback
      background-color: var(--color-bg-base-alpha);
      backdrop-filter: var(--backdrop-filter-glass);
      align-items: flex-start;
      padding-top: rem(43);
      padding-bottom: var(--dim-2p5);
      height: max-content;
      width: 100vw;

      & > .e-container {
        display: flex;
        align-items: start;
      }
    }

    .e-navbar__logo {
      align-self: auto;
      translate: 0 rem(-3);
    }

    .e-navbar__tagline {
      @include text-format(fine-print);
      text-align: left;
      position: absolute;
      top: var(--dim-4);
      left: rem(68);
      translate: 0 0;

      .is-compact {
        display: none;
      }

      .is-full {
        display: inline;
      }
    }

    .e-navbar__beta {
      top: rem(-8);
      left: rem(68);
      translate: none;
    }

    .e-navbar__menu {
      background: transparent;
      flex: 1;
      flex-direction: row;
      align-items: start;
      justify-content: end;
      margin-block: 0;
      padding-block: 0;
      padding-inline-end: var(--dim-2);
    }

    .e-navbar__menu-item {
      width: auto;

      .e-icon {
        display: none;
      }
    }

    .e-navbar__menu-item > a,
    .e-navbar__menu-item.is-more .e-menu__item > a,
    :where(.e-navbar__menu-item.is-more) [data-role='popover-summary'] {
      flex-direction: row;
      border-radius: var(--radius-base);
      padding-block: 0;
      padding-inline-start: var(--dim-4);
      padding-inline-end: var(--dim-2);
      position: relative;
      height: $navbar-height-desktop;

      &:before {
        background-color: var(--color-bg-z3);
        border-radius: var(--radius-pill);
        content: '';
        position: absolute;
        top: calc(50% - rem(2));
        left: var(--dim-1p5);
        width: $navbar-dot-size;
        height: $navbar-dot-size;
      }
    }

    .e-menu__label,
    .e-navbar__menu-label {
      font-size: var(--font-size-body-sm);
      font-weight: var(--font-weight-titles-max);
      letter-spacing: var(--letter-spacing-body-sm);
      line-height: 1;
    }

    .e-navbar__user-menu summary {
      translate: 0 var(--dim-0p5);

      &::after {
        display: block;
      }
    }

    .e-navbar__user-menu .e-popover__body {
      bottom: auto;
      left: auto;
      right: 0;
    }
  }
}


// #endregion
