@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region
.e-plans {
  // Prevent resizing of child elements

  @media (--tablet-l) {
    // background-image: url('#{$assets-prefix}/assets/img/components/bg-plans.png');
    background-position: rem(64) calc(100% - #{rem(64)});
    background-repeat: no-repeat;
    display: flex;
    // align-items: start;
    gap: var(--dim-3);
  }
}

.e-plan {
  background-color: var(--color-bg-z1);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  // Prevent resizing
  flex: 1;
  margin-inline: auto;
  margin-bottom: var(--lh);
  padding: var(--dim-1p5);
  max-width: rem(592);
}

.e-plan__header {
  display: flex;
  flex-direction: column;
  padding: var(--dim-2p5);
  position: relative;
}

.e-plan__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-plan__icon {
  --icon-stroke: var(--color-alpha-light-max);

  background: var(--color-brand-primary);
  border-radius: var(--radius-pill);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: var(--dim-6);
  height: var(--dim-6);
}

.e-plan__price {
  sup {
    font-size: var(--font-size-base);
    top: -0.8em;
  }

  strong {
    @include text-format(title);
    font-weight: var(--font-weight-titles-min);
  }

  small {
    font-size: var(--font-size-body-sm);
  }
}

.e-plan__subtitle {
  color: var(--color-text-success);
}

.e-plan__features {
  list-style: none;
  padding-top: var(--dim-3);
  padding-inline: var(--dim-2p5);

  li {
    @include text-format(base);
    color: var(--color-text-02);
    margin-bottom: var(--dim-1p5);
    position: relative;
    padding-left: var(--dim-4);

    &::before {
      background: url('#{$assets-prefix}/assets/img/components/plan-feature-marker.svg') no-repeat center / contain;
      content: '';
      position: absolute;
      top: var(--padding-top-base);
      left: 0;
      width: var(--dim-icon);
      height: var(--dim-icon);
    }
  }
}
// #endregion

// -----------------------------------------------------------------------------
// FEATURED
// -----------------------------------------------------------------------------
// #region
.e-plan.is-featured {
  .e-plan__header {
    background: var(--color-gradient-brand);
    border-radius: var(--radius-md);
  }

  .e-plan__title,
  .e-plan__price {
    color: var(--color-alpha-light-max);
  }

  .e-plan__subtitle {
    color: hsl(var(--h) var(--s-03) 40% / 0.6);
  }

  .e-btn {
    background-color: var(--color-alpha-light-600);
    color: var(--color-text-02-brand);
    transition: scale var(--duration-50) var(--easing-base);

    &:hover {
      filter: none;
      scale: 1.05;
    }
  }
}
// #endregion

// -----------------------------------------------------------------------------
// AGENT
// -----------------------------------------------------------------------------
// AGENT
.e-section.is-agent-price {
  margin-top: var(--spacer);

  > .e-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

:where(.e-section.is-agent-price) .e-section__image {
  border-radius: var(--radius-lg);
  overflow: hidden;
  height: rem(264);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 29%;
  }

  @media (--tablet) {
    object-position: 50%;
  }
}

:where(.e-section.is-agent-price) .e-section__body {
  background: hsl(var(--h) var(--s-min) 24% / 0.7);
  backdrop-filter: var(--backdrop-filter-glass);
  border-radius: var(--radius-lg);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: rem(-64);
  padding-inline: var(--dim-2p5);
  padding-block: var(--dim-4);
  width: 100%;

  @media (--tablet) {
    padding-inline: var(--dim-5);
    max-width: rem(604);
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    text-wrap: balance;
  }

  h2 + p {
    margin-bottom: 0;
  }

  .text-success {
    margin-top: rem(-8);
    margin-bottom: var(--lh);
  }
}


