/* stylelint-disable declaration-no-important */
@use 'abstracts' as *;
@use 'abstracts/custom';

// -----------------------------------------------------------------------------
// #region: BASE
// -----------------------------------------------------------------------------

.e-section.is-plans {
  margin-top: var(--spacer-half-max);
}

:where(.e-page.is-pricing, .e-page.is-home) .e-section__header.is-centered {
  padding-bottom: var(--dim-4);
  max-width: 100%;

  p {
    max-width: rem(622);
  }
}

.e-section__controls {
  justify-content: space-between;
  width: 100%;
}

[data-role='plans-scroller'] {
  display: none;

  @media (--tablet-l-only) {
    display: flex;
  }
}

.e-segmented-control {
  margin-inline: auto;
}

:where(.e-page.is-pricing, .e-page.is-home, .page.is-pricing, .page.is-home) .e-section__scroller {
  @media (--tablet-l) {
    display: block;
    overflow-x: auto;
    padding: var(--dim-2p5) 0 0;
    scroll-snap-type: x mandatory;
    max-width: 100%;
  }

  @media (--laptop) {
    margin-inline: auto;
    padding-inline: var(--padding-x-container);
    width: 100%;
    max-width: var(--width-container);
  }
}

.e-plans {
  padding-inline: var(--dim-2p5);

  @media (--tablet-l) {
    gap: var(--dim-2);
    padding-inline: var(--dim-5);
  }

  @media (--laptop) {
    padding-inline: 0;
  }
}

.e-plan {
  min-width: rem(280);

  @media (--tablet) {
    min-width: rem(288);
  }
}

.e-plan:first-child .e-plan__icon,
.e-plan__icon:has(.e-icon.is-gift) {
  background-color: var(--color-brand-accent);
}

// #endregion

// -----------------------------------------------------------------------------
// #region: CURRENT PLAN
// -----------------------------------------------------------------------------

.e-current-plan {
  background: var(--color-bg-z1);
  border-radius: var(--radius-lg);
  text-align: left;
  margin-bottom: var(--dim-6);
  padding: var(--dim-2);
  padding-inline-end: var(--dim-3);
  width: 100%;
  max-width: rem(604);

  &__list {
    margin: 0;
    padding-left: var(--dim-2);
  }

  &__list li {
    color: var(--color-text);
  }

  &__list span {
    color: var(--color-text-02);
  }

  // Button label change
  .e-btn__label::before {
    content: attr(data-open);
  }

  summary::-webkit-details-marker {
    display: none;
  }

  // Body Animation
  // stylelint-disable-next-line selector-pseudo-element-no-unknown
  &::details-content {
    transition:
      content-visibility var(--duration-200) var(--easing-base),
      height var(--duration-200) var(--easing-base);
    transition-behavior: allow-discrete;
    height: 0;
  }

  // Open
  &[open] {
    .e-btn__label::before {
      content: attr(data-close);
    }
    // stylelint-disable-next-line selector-pseudo-element-no-unknown
    &::details-content {
      height: auto;
    }
  }
}

.e-current-plan summary {
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: var(--dim-2);
  text-align: center;
  list-style: none;

  @media (--phone-l) {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}

.e-current-plan .e-plan__icon {
  display: none;

  @media (--phone-l) {
    display: flex;
  }
}

.e-current-plan__title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  small {
    @include text-format('caption');
    color: var(--color-text-02);
  }
}

.e-current-plan__body {
  padding-block: var(--dim-1) var(--dim-2);
  padding-inline: 0;

  @media (--phone-l) {
    padding-inline-start: var(--dim-6);
  }
}

.e-plan__header .e-tag {
  box-shadow: var(--shadow-z2);
  position: absolute;
  top: rem(-32);
  left: 50%;
  translate: -50% 0;
}

.e-plan.is-current {
  margin-top: var(--dim-5);

  @media (--tablet-l) {
    margin-top: 0;
  }
}


// #endregion
