@use 'abstracts' as *;

// BASE
// #region
.e-section {
  margin-top: var(--spacer-max);
}

.e-section__header p {
  color: var(--color-ink-2ry);
}

.e-section__header.is-centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-inline: auto;
  padding-bottom: var(--size-7);
  max-width: rem(622);

  h2 {
    margin-top: var(--size-1);
    margin-bottom: 0;
  }
}

.e-section__title {
  color: var(--color-ink-text);

  &.is-highlight {
    background-image: var(--color-gradient-brand);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 100%;
    color: transparent;
  }
}
// #endregion
