@use 'abstracts' as *;

.e-segmented-control {
  background: var(--color-bg-z1);
  border-radius: calc(var(--radius-base) + var(--dim-0p5));
  display: flex;
  gap: var(--dim-0p5);
  justify-content: center;
  margin-bottom: var(--dim-1);
  padding: var(--dim-0p5);
}

.e-segmented-control__item{
  @include button;
}


.e-segmented-control__item,
:where(.e-segmented-control) .e-btn {
  --button-height: var(--dim-5);

  background: none;
  border-radius: var(--radius-base);
  color: var(--color-text-02);
  margin-inline-end: 0;

  &:hover {
    --icon-stroke: var(--color-text);
    color: var(--color-text);
  }
}

.e-segmented-control__item input {
  opacity: 0;
}

:where(.e-segmented-control) .e-btn[aria-pressed]:not([aria-pressed='false']),
.e-segmented-control__item:has(input:checked)  {
  &,
  &:hover {
    --icon-stroke: var(--color-text);
    background: hsl(var(--h-green) var(--s) 88% / 0.08);
    color: var(--color-text-success);
    cursor: default;
    filter: none;
    pointer-events: none;
  }
}
