@use 'abstracts' as *;

.e-share {
  display: flex;
  list-style: none;
  margin-inline-start: rem(-4);
  margin-bottom: 0;
  padding: 0;
  gap: 0;

  li {
    padding: 0;
  }
}

.e-share__link {
  appearance: none;
  background: transparent;
  border-radius: var(--radius-base);
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  text-decoration: none;
  padding: 0;
  outline: 0;
  position: relative;
  transition: background var(--duration-100) var(--easing-base);
  user-select: none;
  width: var(--dim-5);
  min-width: 0;
  height: var(--dim-5);

  &:hover {
    --icon-stroke: var(--color-text);
    background-color: var(--color-border);
  }
}

.e-share__link.is-copy {
  &::after {
    color: var(--color-text-success);
    content: attr(data-copy-label);
    display: inline-block;
    opacity: 0;
    position: absolute;
    inset-inline-start: calc(110% + var(--dim-1));
    transition: opacity var(--duration-150) var(--easing-base);
    user-select: none;
  }

  &.is-copied::after {
    opacity: 1;
  }
}
