@use 'abstracts' as *;

.e-tag {
  --tag-background: var(--color-bg-bold-brand);
  --tag-text: var(--color-text);
  --tag-radius: var(--radius-pill);
  --tag-font-weight: 500;
  --tag-padding-x: var(--dim-1p5);
  --tag-max-width: #{rem(220)};
  --tag-height: var(--lh);

  @include label(false);
  @include text-truncate;

  background-color: var(--tag-background);
  border-radius: var(--tag-radius);
  color: var(--tag-text);
  display: inline-flex;
  align-items: center;
  gap: var(--dim-0p5);
  flex-shrink: 1;
  font-variant-numeric: lining-nums tabular-nums;
  font-weight: var(--tag-font-weight);
  line-height: var(--tag-height);
  text-decoration: none;
  padding: 0 var(--tag-padding-x);
  outline: 0;
  position: relative;
  transition: background-color var(--duration-100) var(--easing-base);
  vertical-align: baseline;
  width: max-content;
  max-width: var(--tag-max-width);
  height: var(--tag-height);
}

.e-tag.has-start-icon {
  padding-inline-start: calc(var(--tag-padding-x) - var(--dim-0p5));
}

.e-tag.is-lg {
  --tag-height: var(--dim-5);
  --tag-padding-x: var(--dim-2p5);
}

:where(a, button).tag {
  &:focus-visible {
    @include state-focus;
  }

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      filter: var(--filter-brightness-up);
      color: inherit;
      text-decoration: none;
    }
  }
}

