@use 'abstracts' as *;

.e-testimonial {
  direction: ltr;
  gap: var(--size-2);
  position: relative;

  &::before {
    content: '“';
    position: absolute;
    top: rem(86);
    left: rem(10);

    :lang(es) &,
    :lang(fr) &,
    :lang(no) &,
    :lang(pt) &,
    :lang(ru) & {
      content: '«';
    }
  }
}

.e-testimonial__base {
  @include text-format(body-sm);
  @include multiline-truncate($lines: 11, $line-height: rem(20), $padding-top: rem(1));

  min-height: rem(221);

  :first-child {
    padding-top: 0;
  }

  :last-child {
    padding-bottom: 0;
  }
}

.e-testimonial__author {
  @include text-format(body-sm);
  color: var(--color-ink-2ry);
  margin-top: rem(3);

  strong {
    color: var(--color-ink-text-success);
    display: block;
    font-weight: 400;
  }
}
