@use 'sass:math';
@use 'abstracts/config' as *;
@use 'abstracts/functions' as *;
// prettier-ignore

:root {
  // ---------------------------------------------------------------------------
  // #region: 🎨 COLORS
  // ---------------------------------------------------------------------------

  --h-blue:   223;
  --h-green:  168;
  --h-red:    353;
  --h-yellow: 45;

  --s-base: 88%;
  --s-02:  80%; // desaturate the base by 4-10% for dark theme
  --s-03:  50%;
  --s-min:  11%; // for dark theme backgrounds

  --h:  254;
  --s:  var(--s-base);
  --l:  78%;

  // DECLARATIVE PALETTE
  --color-brand-primary: hsl(var(--h) var(--s) var(--l));
  --color-brand-accent:  hsl(var(--h-green) var(--s) 40%);

  --color-alpha-dark-max: rgb(0 0 0);
  --color-alpha-dark-900: rgb(0 0 0 / 0.87);
  --color-alpha-dark-600: rgb(0 0 0 / 0.6);
  --color-alpha-dark-400: rgb(0 0 0 / 0.38);
  --color-alpha-dark-100: rgb(0 0 0 / 0.12);
  --color-alpha-dark-min: rgb(0 0 0 / 0.05);

  --color-alpha-light-max: hsl(0 0% 100%);
  --color-alpha-light-900: hsl(0 0% 100% / 0.87);
  --color-alpha-light-600: hsl(0 0% 100% / 0.6);
  --color-alpha-light-400: hsl(0 0% 100% / 0.38);
  --color-alpha-light-200: hsl(0 0% 100% / 0.2);
  --color-alpha-light-100: hsl(0 0% 100% / 0.08);
  --color-alpha-light-min: hsl(0 0% 100% / 0.04);

  --color-shadow: var(--h) var(--s-min) 11%;

  --color-bg-base-patch:
    var(--color-bg-base),
    hsl(from var(--color-bg-base) h s l / 0.9) 16%,
    hsl(from var(--color-bg-base) h s l / 0.8) 32%,
    hsl(from var(--color-bg-base) h s l / 0.6) 48%,
    hsl(from var(--color-bg-base) h s l / 0.4) 56%,
    hsl(from var(--color-bg-base) h s l / 0.2) 72%,
    hsl(from var(--color-bg-base) h s l / 0.05) 80%,
    hsl(from var(--color-bg-base) h s l / 0);

  --color-bg-base-alpha:   hsl(from var(--color-bg-base) h s l / 0.8);
  --backdrop-filter-glass: blur(20px);

  // Adjustments
  --filter-brightness-up:   brightness(1.16);
  --filter-brightness-down: brightness(0.84);
  // #endregion

  // ---------------------------------------------------------------------------
  // #region: 🔠 TYPOGRAPHY
  // ---------------------------------------------------------------------------

  --font-family-emoji:
   'Apple Color Emoji',
   'Segoe UI Emoji',
   'Segoe UI Symbol',
   'Noto Color Emoji';

  --font-family-sans:
   -apple-system,
    BlinkMacSystemFont,
    Inter,
    sans-serif;

  --font-family-mono:
    ui-monospace,
    SFMono-Regular,
    Monaco,
    Consolas,
   'Andale Mono',
    monospace,
    var(--font-family-emoji);

  --font-family-base:   var(--font-family-sans), var(--font-family-emoji);
  --font-family-titles: var(--font-family-base);

  --font-size-doc:         #{$html-font-size};

  --font-weight-titles-max:     600;
  --font-weight-titles:         500;
  --font-weight-titles-lighter: 400;
  --font-weight-titles-min:     300;

  --font-size-display:      #{rem(34)};
  --font-weight-display:    var(--font-weight-titles-min);
  --letter-spacing-display: #{rem(-1)};
  --line-height-display:    #{math.div(40, 34)};
  --padding-top-display:    0;
  --padding-bottom-display: 0;

  --font-size-title:      #{rem(28)};
  --font-weight-title:    var(--font-weight-titles);
  --letter-spacing-title: 0;
  --line-height-title:    #{math.div(32, 28)};
  --padding-top-title:    #{rem(6)};
  --padding-bottom-title: #{rem(2)};

  --font-size-h2:       #{rem(22)};
  --font-weight-h2:     var(--font-weight-titles-lighter);
  --letter-spacing-h2:  0;
  --line-height-h2:     #{math.div(32, 22)};
  --padding-top-h2:     0;
  --padding-bottom-h2:  0;

  --margin-top-subhead: var(--lh);

  --font-size-h3:      #{rem(17)};
  --font-weight-h3:    var(--font-weight-titles-max);
  --letter-spacing-h3: 0;
  --line-height-h3:    #{math.div(24, 17)};
  --padding-top-h3:    #{rem(6)};
  --padding-bottom-h3: #{rem(2)};

  --font-size-base:      #{rem(17)};
  --line-height-base:    #{math.div(24, 17)};
  --letter-spacing-base: 0;
  --padding-top-base:    #{rem(6)};
  --padding-bottom-base: #{rem(2)};

  --font-size-body-sm:      #{rem(15)};
  --letter-spacing-body-sm: #{rem(0.1)};
  --line-height-body-sm:    #{math.div(20, 15)};
  --padding-top-body-sm:    #{rem(1)};
  --padding-bottom-body-sm: #{rem(3)};

  --font-size-fine-print:      #{rem(12)};
  --letter-spacing-fine-print: #{rem(0.5)};
  --line-height-fine-print:    #{math.div(16, 12)};
  --padding-top-fine-print:    #{rem(4)};
  --padding-bottom-fine-print: #{rem(4)};
    // #endregion

  // ---------------------------------------------------------------------------
  // #region: 📐 SPACING
  // ---------------------------------------------------------------------------

  --dim-0p5: #{rem(4)};
  --dim-1:    #{rem(8)};
  --dim-1p5:  #{rem(12)};
  --dim-2:    #{rem(16)};
  --dim-2p5:  #{rem(20)};
  --dim-3:    #{rem(24)};
  --dim-4:    #{rem(32)};
  --dim-5:    #{rem(40)};
  --dim-6:    #{rem(48)};
  --dim-7:    #{rem(56)};
  --dim-8:    #{rem(64)};

  --lh:              var(--dim-3);
  --spacer:          var(--lh);
  --spacer-half-max: var(--dim-4);
  --spacer-max:      var(--dim-8);
  --gap-base:        var(--dim-2p5);
  --gap-large:       var(--dim-4);

  // #endregion

  // ---------------------------------------------------------------------------
  // #region: 🌓 SHADOWS
  // ---------------------------------------------------------------------------

  // FAB, Buttons hover, Snackbars, Sticky Components
  --shadow-z1:
    inset 0 0 0.5px 1px var(--color-alpha-light-min),
    0 0 0 1px hsl(var(--color-shadow) / var(--shadow-ring, 0.04)),
    0 1px 2px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 2px 4px -1px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06));

  // Overlays: popovers, Tooltips, Drawers, Dropdowns, Pickers,
  // Modal Bottom Sheets, FAB hover
  --shadow-z2:
    inset 0 0 0.5px 1px var(--color-alpha-light-min),
    0 0 0 1px hsl(var(--color-shadow) / var(--shadow-ring, 0.04)),
    0 3px 6px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 15px 28px -1px hsl(var(--color-shadow) / var(--shadow-opacity-mid, 0.1));

  // Modals
  --shadow-z3:
    inset 0 0 0.5px 1px var(--color-alpha-light-min),
    0 0 0 1px hsl(var(--color-shadow) / var(--shadow-ring, 0.04)),
    0 9px 14px -5px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 40px 72px -5px hsl(var(--color-shadow) / var(--shadow-opacity-hi, 0.12));

  // Z-INDEX
  --z-sticky:  10;
  --z-fixed:   20;  // including app/nav bar
  --z-fab:     30;
  --z-popover: 40;
  --z-tooltip: 50;
  --z-drawer:  70;
  --z-modal:   80;

  // #endregion

  // ---------------------------------------------------------------------------
  // #region: 🔲 WIDTHS
  // ---------------------------------------------------------------------------

  --width-sm:        #{rem(272)};

  // popovers, tablet and desktop drawers, alerts (.e-modal.is-sm) on landscape phones
  --width-base:      #{rem(320)};

  // Wide drawers, alerts (.e-modal.is-sm), popovers on tablets and up
  --width-md:        #{rem(448)};

  // Default modals on landscape phones and up
  --width-lg:        #{rem(544)};

  // Large modals on desktops
  --width-xl:        #{rem(720)};

  // 1232 + 64*2 paddings
  --width-container: #{rem(1360)};

  --width-readable:  70ch;

  // #endregion

  // ---------------------------------------------------------------------------
  // #region: 👻 MOTION DESIGN
  // ---------------------------------------------------------------------------

  // https://designsystems.surf/directories/motion

  // Micro-interactions such as button and toggle
  --duration-50: 0.07s;

  // Micro-interactions such as fade
  --duration-100: 0.11s;

  // Micro-interactions, small expansion, short distance movements
  --duration-200: 0.15s;

  // Expansion, system communication, toast
  --duration-500: 0.24s;

  // Large expansion, important system notifications
  --duration-700: 0.4s;

  // Background dimming and other ambient transitions that don't involve user input.
  --duration-900: 0.7s;
  --duration-1000: 1s;

  // In the visible state of the panel, use --easing-appearance and the full duration variable in transition.
  // In the hidden state, use --easing-disappearance and a reducing coefficient of 0.8 for duration.
  --easing-base: cubic-bezier(0.2, 0, 0.38, 0.9);
  --easing-appearance: cubic-bezier(0, 0, 0.38, 0.9);
  --easing-disappearance: cubic-bezier(0.2, 0, 1, 0.9);
  --easing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  // #endregion

  // ---------------------------------------------------------------------------
  // #region: 🍱 COMPONENTS BASE
  // ---------------------------------------------------------------------------

  // SPACING
  --padding-bottom-list: #{rem(16)};
  --padding-bottom-li:   #{rem(10)};  // 2 base + 8 as margin

  --padding-x-box:       var(--dim-2);
  --padding-x-container: var(--dim-2p5);

  --padding-y-btn: 0;
  --padding-x-btn: var(--dim-2);
  --button-height: var(--dim-6);

  --padding-x-input:     var(--dim-2);
  --padding-y-input:     var(--dim-2);

  --dim-icon:           #{rem(24)};
  --dim-icon-sm:        #{rem(20)};

  --border-width: #{rem(1)};

  // RADIUS
  // Rectangular Images
  --radius-xs:   var(--dim-0p5);

  // Buttons
  --radius-sm:   var(--dim-1);
  --radius-base: var(--dim-1p5);

  // Boxes: Pickers, Tooltips
  --radius-md: var(--dim-2);

  // Drawers
  --radius-lg:   #{rem(28)};

  // Modals
  --radius-xl:   var(--dim-5);
  --radius-xxl:   #{rem(52)};

  --radius-pill: 100vmax;

  // SPECIFIC
  --icon-fill: none;
  --icon-stroke: var(--color-icon);
  --icon-stroke-width: 2;

  --popover-body-background: var(--color-bg-z2);
  --popover-body-border: 0;
  --popover-body-border-radius: var(--radius-base);
  --popover-body-box-shadow: var(--shadow-z2);

  // #endregion

  // ---------------------------------------------------------------------------
  // #region: 💻 OVERRIDES
  // ---------------------------------------------------------------------------

  // LANDSCAPE PHONE
  @media (--phone-l) {
    --padding-x-container: var(--dim-3);
  }

  //  TABLET
  @media (--tablet) {
    --font-size-display:      #{rem(53)};
    --font-weight-display:    var(--font-weight-titles);
    --line-height-display:    #{math.div(56, 53)};
    --padding-top-display:    #{rem(1)};
    --padding-bottom-display: #{rem(7)};

    --font-size-title:      #{rem(40)};
    --font-weight-title:    var(--font-weight-titles-lighter);
    --line-height-title:    #{math.div(48, 40)};
    --padding-top-title:    #{rem(1)};
    --padding-bottom-title: #{rem(7)};

    --font-size-h2:      #{rem(30)};
    --font-weight-h2:    var(--font-weight-titles-lighter);
    --line-height-h2:    #{math.div(40, 30)};
    --padding-top-h2:    #{rem(1)};
    --padding-bottom-h2: #{rem(7)};

    --font-size-h3:      #{rem(23)};
    --font-weight-h3:    var(--font-weight-titles);
    --letter-spacing-h3: #{rem(0.3)};
    --line-height-h3:    #{math.div(32, 23)};
    --padding-top-h3:    #{rem(1)};
    --padding-bottom-h3: #{rem(7)};

    --font-size-body-sm:      #{rem(15)};
    --letter-spacing-body-sm: 0.1px;
    --line-height-body-sm:    #{math.div(20, 15)};
    --padding-top-body-sm:    #{rem(1)};
    --padding-bottom-body-sm: #{rem(3)};

    --spacer:               calc(var(--lh) * 3);
    --spacer-half-max:      var(--dim-8);
    --spacer-max:           calc(var(--dim-8) * 2);

    --padding-x-box:        var(--lh);
    --padding-x-container:  var(--dim-5);

    --navbar-area:          #{rem(96)};

    // JS stuff
    --chart-axis-width: min-content;
    --chart-height: 400px;
  }

  // LAPTOP
  @media (--laptop) {
    --padding-x-container:  var(--dim-8);
  }

  // #endregion
}
