{% extends "base/base.twig" %}
{% from "base/macros.twig" import icon %}

{% block config %}
  {{ parent() }}

  {% set page = {
    lang: 'ru',

    desc: site.desc.ru,
    body_classes: 'e-page is-home'
  } %}
{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/home.css?{{ timestamp }}">
{% endblock %}

{# MAIN CONTENT ------------------------------------------------------------- #}
{% block content %}

  {# HERO #}
  <header class="e-hero">
    <div class="e-container">
      <figure class="e-hero__image">
        <img src="/assets/img/pages/home/hero.png" srcset="/assets/img/pages/home/hero.png 1x, /assets/img/pages/home/hero@2x.png 2x" alt="Cryptoapi.ai">
      </figure>
      <div class="e-hero__copy">
        <h1>
          <strong>Торгуй ИИ</strong>
          всё получится</h1>
        <p>Аналитика. Автоматизация. Прогнозирование. CRYPTOAPI.AI — инновационная платформа для трейдеров и инвесторов, предоставляющая передовые API и интеллектуальный анализ криптовалютного рынка.</p>
        <div class="e-buttons">
          <a class="e-btn is-primary" href="#">Попробовать</a>
          <a class="e-btn" href="{{ page.lang }}/docs">Документация API</a>
        </div>
      </div>
    </div>
  </header>

  {# FEATURES #}
  <section class="e-section has-scroller-row is-features">
    <header class="e-section__header">
      <span class="e-eyebrow">Три продукта</span>
      <h2 class="e-section__title">Торговый агент, ИИ-консультант интеграции API</h2>
    </header>
    <div class="e-scroller-row" data-role="draggable-scroll">
      {% for feature in data_features %}
        {% include 'components/feature.twig' with {'feature': feature} only %}
      {% endfor %}
    </div>
  </section>

  {# TESTIMONIALS #}
  <section class="e-section has-scroller-row-reverse is-testimonials">
    <header class="e-section__header">
      <span class="e-eyebrow">Отзывы</span>
      <h2 class="e-section__title">Клиент всегда прав</h2>
    </header>
    <div class="e-scroller-row" data-role="draggable-scroll">
      {% for testimonial in data_testimonials %}
        {% include 'components/testimonial.twig' with {'testimonial': testimonial} only %}
      {% endfor %}
    </div>
  </section>

  {# FAQ #}
  <div class="e-container">
    <section class="e-section is-faq">
      <h2>Часто задаваемые вопросы</h2>
      {% for faq in data_faq %}
        {% include 'components/faq-item.twig' with {'faq': faq} only %}
      {% endfor %}
    </section>
  </div>

  {# CTA #}
  <section class="e-section e-cta">
    <h2>Торгуйте криптовалютой с точностью искусственного интеллекта</h2>
    <p>Получите точные торговые сигналы на основе ИИ и опережайте рынок криптовалют.</p>
    <a class="e-btn is-primary" href="#">Попробовать</a>
  </section>


{% endblock %}
