@use '../abstracts' as *;

[type='date'],
[type='datetime-local'],
[type='month'],
[type='time'],
[type='week'] {
  background-image: var(--icon-calendar);
  background-position: center right var(--dim-2p5);
  background-repeat: no-repeat;
  background-size: var(--dim-icon) auto;
}

[type='time'] {
  background-image: var(--icon-time);
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
  width: var(--dim-icon);
}
