@use '../abstracts' as *;

[type='file'] {
  @include text-truncate;

  border: 0;
  border-radius: 0;
  background: none;
  color: var(--color-text-02);
  padding: 0;

  &::file-selector-button,
  &::-webkit-file-upload-button,
  &::-ms-browse {
    @include button;
    margin-inline-end: var(--dim-2);
  }
}
