// stylelint-disable selector-no-qualifying-type
@use '../abstracts' as *;

// -----------------------------------------------------------------------------
// CONTAINERS
// -----------------------------------------------------------------------------
// #region
form {
  accent-color: var(--color-text-brand);
  caret-color: var(--color-text-02-brand);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Input container
form p,
form > div:not([class]) {
  position: relative;
  padding: 0;
}

// Two inputs, not iOS-like row
.e-form__row {
  display: grid;
  gap: var(--gap, var(--dim-2));
  grid-template-columns: var(--columns,  1fr);
  margin-bottom: var(--dim-2);

  @media (--tablet) {
    --columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}

.e-form__row.phone\:2-columns {
  @media (--phone) {
    --columns: 1fr 1fr;
  }
}

legend {
  @include text-format(base);

  color: var(--color-text);
  display: block;
  font-weight: 500;
  white-space: normal;
  margin: 0;
  max-width: 100%;
}

label {
  position: relative;
}
// #endregion

// -----------------------------------------------------------------------------
// INLINE FORM FIELD
// -----------------------------------------------------------------------------
// #region

// Label and input inline, like iOS row
.e-form__item {
  border-top:  1px solid var(--color-border);
  display: flex;
  align-items: center;
  gap: var(--dim-2);
  padding-top: var(--padding-top, var(--dim-1));
  padding-bottom: var(--padding-bottom, var(--dim-1p5));
  opacity: 1;
  transition:
    display var(--duration-500) var(--easing-base),
    opacity var(--duration-500) var(--easing-base);
  transition-behavior: allow-discrete;

  @starting-style {
    opacity: 0;
  }

  &[hidden] {
    display: none;
    opacity: 0;

    @starting-style {
      opacity: 1;
    }
  }
}

:where(.e-form__item) {
  label {
    flex-grow: 1;
  }

  label strong,
  label span {
    display: block;
  }

  label strong {
    color: var(--color-text);
    margin-bottom: rem(-4);
    padding-top: var(--padding-top-base);
    padding-bottom: var(--padding-bottom-base);
  }

  label span {
    @include text-format(fine-print);
  }

  input {
    width: auto;
  }

  select,
  [type='radio'],
  [role='switch'] {
    order: 1;
  }
}

.e-form__item.has-select select {
  background-image: var(--icon-chevron-up-down);
  background-color: transparent;
  color: var(--color-text-brand);
  text-align: end;
  padding-block: 0;
  padding-inline-end: var(--dim-4);
  width: auto;
  min-height: auto;
}

.e-form__item.has-input input {
  width: var(--width, auto);
}
// #endregion

// -----------------------------------------------------------------------------
// FIELDS NORMALIZE
// -----------------------------------------------------------------------------
// #region

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 0;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-ms-expand {
  display: none;
}
// #endregion

// -----------------------------------------------------------------------------
// INPUT, TEXTAREA, SELECT BASE
// -----------------------------------------------------------------------------
// #region

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: inherit;
}

:--text-field,
[type='search'] {
  appearance: none;
  background-color: hsl(var(--h) var(--s) 90% / 0.05);
  border: 0;
  color: var(--color-text);
  display: block;
  padding-block: var(--padding-y-input);
  overflow: visible;
  transition:
    box-shadow var(--easing-base) var(--duration-50),
    color var(--easing-base) var(--duration-50);
  width: 100%;
  min-height: calc(var(--lh) * 2);

  &:focus,
  &:focus-visible {
    @include state-focus;
    color: var(--color-text);
    border-color: transparent;
  }

  &::placeholder {
    color: var(--color-text-03);
    opacity: 1;
  }
}

:where(
  .e-form__text-input,
  input:is(
    [type='date'],
    [type='datetime-local'],
    [type='email'],
    [type='month'],
    [type='number'],
    [type='password'],
    [type='tel'],
    [type='text'],
    [type='time'],
    [type='url'],
    [type='week']
  ),
  select,
  textarea
) {
  border-radius: var(--radius-sm);
  padding-inline: var(--padding-x-input);
}

[type='password'] {
  padding-inline-end: var(--padding-x-input-lg);
}

// Override default styles for an autofill
// input {
//   &:-webkit-autofill,
//   &:-webkit-autofill:hover,
//   &:-webkit-autofill:focus,
//   &:-webkit-autofill:active {
//     -webkit-text-fill-color: var(--color-text) !important;
//     box-shadow: 0 0 0 1000px  var(--color-bg-02) inset !important;
//   }
// }
// #endregion

// -----------------------------------------------------------------------------
// SPECIFIC
// -----------------------------------------------------------------------------
// #region

textarea {
  overflow: auto;
  resize: vertical;
}

textarea:not([rows]) {
  height: calc(var(--lh) * 6);
}

[disabled]:not([disabled='false']),
[readonly] {
  @include state-disabled();
}
// #endregion

// -----------------------------------------------------------------------------
// HINTS
// -----------------------------------------------------------------------------
// #region

/* small */.e-form__hint {
  display: block;
  color: var(--color-text-02);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-fine-print);
  text-align: left;
  margin-top: var(--dim-0p5);
  padding-block: var(--padding-top-fine-print);
  padding-inline: 0;
  max-width: 90ch;
}

.e-form__disclaimer {
  margin-block: var(--lh);
}

// -----------------------------------------------------------------------------
// BUTTONS
// -----------------------------------------------------------------------------

.e-form__footer {
  > * {
    margin-bottom: var(--dim-2);
  }

  @media (--tablet) {
    display: flex;
    align-items: center;
    padding-top: var(--padding-top-form-actions);
    padding-bottom: var(--padding-bottom-form-actions);

    > :not(:last-child) {
      margin-right: var(--dim-2);
    }
  }
}

// Show-hide password
.e-form__password-toggle {
  background: transparent;
  position: absolute;
  top: var(--dim-0p5);
  right: var(--dim-1);

  &:hover {
    --icon-stroke: var(--color-text);
    background: transparent;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// CAPTCHA
// -----------------------------------------------------------------------------

.grecaptcha-badge {
  opacity: 0;
  pointer-events: none;
}
