@use '../abstracts' as *;

:where(.e-form) .e-label {
  @include text-format('base');

  color: var(--color-text-02);
  cursor: pointer;
  display: block;
  margin-bottom: var(--dim-0p5);
  user-select: none;
}

.e-form__text-field {
  position: relative;

  label {
    color: var(--color-text-02);
    cursor: text;
    display: block;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    pointer-events: none;
    position: absolute;
    inset-inline-start: var(--padding-x-input);
    top: var(--dim-2);
    transition: all var(--duration-200) var(--easing-base);
    z-index: 1;
  }

  &:has(input:-webkit-autofill) {
    --icon-stroke: var(--color-text-02-brand);
  }

  &:has(input:-webkit-autofill:not(:focus)) {
    label {
      color: transparent;
    }
  }

  &:has(input:-moz-ui-invalid:not(output)) {
    label {
      color: var(--color-text-brand);
      font-size: var(--font-size-fine-print);
      line-height: var(--line-height-fine-print);
      top: var(--dim-0p5);
    }
  }

  input {
    &::placeholder {
      color: transparent;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      color: var(--color-text-brand);
      font-size: var(--font-size-fine-print);
      line-height: var(--line-height-fine-print);
      top: var(--dim-0p5);
    }

    // :user-valid/invalid with fallback
    &:user-invalid ~ label,
    &:invalid:not(:focus):not(:placeholder-shown) ~ label {
      color: var(--color-text-error);
    }

    &:user-valid ~ label,
    &:valid:not(:focus):not(:placeholder-shown) ~ label {
      color: var(--color-text-success);
    }
  }

  select {
    &:focus ~ label {
      color: var(--color-text-brand);
      font-size: var(--font-size-fine-print);
      line-height: var(--line-height-fine-print);
      top: var(--dim-0p5);
    }

    &:not([value=""]):not([value]) ~ label,
    &[value]:not([value=""]) ~ label {
      color: var(--color-text-brand);
      font-size: var(--font-size-fine-print);
      line-height: var(--line-height-fine-print);
      top: var(--dim-0p5);
    }

    // :user-valid/invalid with fallback
    &:user-invalid ~ label,
    &:invalid:not(:focus):not(:placeholder-shown) ~ label {
      color: var(--color-text-error);
    }

    &:user-valid ~ label,
    &:valid:not(:focus):not(:placeholder-shown) ~ label {
      color: var(--color-text-success);
    }
  }

  textarea {
    &::placeholder {
      color: transparent;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      color: var(--color-text-brand);
      font-size: var(--font-size-fine-print);
      line-height: var(--line-height-fine-print);
      top: var(--dim-0p5);
    }

    // :user-valid/invalid with fallback
    &:user-invalid ~ label,
    &:invalid:not(:focus):not(:placeholder-shown) ~ label {
      color: var(--color-text-error);
    }

    &:user-valid ~ label,
    &:valid:not(:focus):not(:placeholder-shown) ~ label {
      color: var(--color-text-success);
    }
  }
}
