// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors, no-descending-specificity

@use '../abstracts' as *;

// -----------------------------------------------------------------------------
// INVALID INPUTS
// -----------------------------------------------------------------------------
// #region

:--text-field-blur:user-invalid,
:--text-field-blur.is-invalid {
  box-shadow: 0 0 0 rem(2) var(--color-error);

  // Show error message
  ~ .e-form__error {
    opacity: 1;
    height: auto;
  }

  // Hide hint
  ~ .e-form__hint {
    display: none;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// INLINE ERROR MESSAGES
// -----------------------------------------------------------------------------
// #region

// Use span to prevent build error caused by div in p
/* span */.e-form__error {
  color: var(--color-text-error);
  font-size: var(--font-size-fine-print);
  line-height: var(--line-height-fine-print);
  text-align: left;
  display: block;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--duration-400);
  height: 0;
}

// Ensure proper padding around error messages
// BTW, use [role='alert'] on child
.e-form__error > span,
.e-form__error > small {
  display: block;
  margin-top: var(--dim-0p5);
  padding-block: var(--padding-top-fine-print);
  padding-inline: var(--dim-2);
}

// Show validation alert for form rows with errors
.e-grid.has-error + .e-form__error {
  opacity: 1;
  height: auto;
}
// #endregion

// -----------------------------------------------------------------------------
// SERVER VALIDATION MESSAGE
// -----------------------------------------------------------------------------
// #region
.e-form__error-box {
  background-color: var(--color-bg-z1);
  background-image: radial-gradient(circle 216px at 0 100%, var(--color-bg-error));
  border-radius: var(--radius-md);
  color: var(--color-text-error);
  display: none;
  padding-top: calc(var(--padding-top-base) + var(--dim-2));
  padding-bottom: calc(var(--padding-bottom-base) + var(--dim-3));
  padding-inline: var(--padding-x-box);
  opacity: 0;
  overflow: hidden;
  transition:
    display var(--duration-300) var(--easing-base),
    height var(--duration-300) var(--easing-base),
    opacity var(--duration-300) var(--easing-base);
  transition-behavior: allow-discrete;
  width: 100%;
  height: 0;

  &:not(:empty) {
    display: block;
    opacity: 1;
    height: auto;
    margin-bottom: var(--lh);

    @starting-style {
      height: 0;
      opacity: 0;
    }
  }
}

// Semantic colors
.e-form__message.is-success {
  background-image: radial-gradient(circle 216px at 0 100%, var(--color-bg-success));
  color: var(--color-text-success);
}

.e-form__message.is-error {
  background-image: radial-gradient(circle 216px at 0 100%, var(--color-bg-error));
  color: var(--color-text-error);
}
// #endregion
