// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors, no-descending-specificity

@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// INVALID INPUTS
// -----------------------------------------------------------------------------
// #region

:--text-field-blur:user-invalid,
:--text-field-blur.is-invalid {
  box-shadow: 0 0 0 rem(2) var(--color-base-error);

  // Show error message
  ~ .e-form__error {
    opacity: 1;
    height: auto;
  }

  // Hide hint
  ~ .e-form__hint {
    display: none;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// INLINE ERROR MESSAGES
// -----------------------------------------------------------------------------
// #region

// Use span to prevent build error caused by div in p
/* span */.e-form__error {
  color: var(--color-ink-text-error);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-align: left;
  display: block;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--duration-700);
  height: 0;
}

// Ensure proper padding around error messages
// BTW, use [role='alert'] on child
.e-form__error > span,
.e-form__error > small {
  display: block;
  margin-top: var(--size-half);
  padding-block: var(--padding-top-caption);
  padding-inline: var(--size-2);
}

// Show validation alert for form rows with errors
.e-grid.has-error + .e-form__error {
  opacity: 1;
  height: auto;
}
// #endregion

// -----------------------------------------------------------------------------
// SERVER VALIDATION MESSAGE
// -----------------------------------------------------------------------------
// #region
.e-form__error-box {
  background-color: var(--color-bg-level-01);
  background-image: radial-gradient(circle 216px at 0 100%, var(--color-bg-error));
  border-radius: var(--border-radius-md);
  color: var(--color-ink-text-error);
  display: none;
  padding-top: calc(var(--padding-top-base) + var(--size-2));
  padding-bottom: calc(var(--padding-bottom-base) + var(--size-3));
  padding-inline: var(--padding-x-box);
  opacity: 0;
  overflow: hidden;
  transition:
    display var(--duration-500) var(--easing-base),
    height var(--duration-500) var(--easing-base),
    opacity var(--duration-500) var(--easing-base);
  transition-behavior: allow-discrete;
  width: 100%;
  height: 0;

  &:not(:empty) {
    display: block;
    opacity: 1;
    height: auto;
    margin-bottom: var(--size-line);

    @starting-style {
      height: 0;
      opacity: 0;
    }
  }
}
// #endregion
