/* stylelint-disable declaration-no-important */
/* Mixins were created in order to quickly style the buttons of plugins, like woocommerce */
@custom-media --phone only screen and (width < 768px);
@custom-media --phone-p only screen and (width < 568px);
@custom-media --phone-l only screen and (width >= 568px);
@custom-media --phone-l-height only screen and (max-height: 360px);
@custom-media --tablet only screen and (width >= 768px) and (min-height: 361px);
@custom-media --tablet-p-only only screen and (768px <= width <= 1023px) and (min-height: 361px);
@custom-media --tablet-l-down only screen and (width < 1024px);
@custom-media --tablet-l only screen and (width >= 1024px) and (min-height: 361px);
@custom-media --tablet-only only screen and (768px <= width <= 1360px) and (min-height: 361px);
@custom-media --laptop-down only screen and (width < 1360px);
@custom-media --laptop only screen and (width >= 1360px) and (min-height: 361px);
@custom-media --desktop only screen and (width >= 1920px) and (min-height: 361px);
@custom-media --retina print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi);
@custom-selector :--text-field select, textarea, .e-form__text-input, input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], input[type="date"];
@custom-selector :--text-field-blur :where(input:not([type="checkbox"]):not([type="radio"]), select, textarea):not(:focus);
.e-content {
  --column-third: calc((100% - var(--size-4) * 2) / 3);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-line);
  padding-bottom: var(--size-3);
}
@media (--tablet) {
  .e-content {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    padding-bottom: var(--size-line);
  }
}
@media (--tablet-l) {
  .e-content {
    gap: var(--size-4);
    padding-bottom: var(--size-4);
  }
}
@media (--laptop) {
  .e-content {
    grid-template-columns: 1fr var(--column-third);
  }
}

.e-content__base {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-line);
  order: 1;
}
@media (--tablet) {
  .e-content__base {
    order: 0;
  }
}
@media (--laptop) {
  .e-content__base {
    gap: var(--size-4);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.e-assets {
  order: 0;
}
@media (--tablet) {
  .e-assets {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--size-3);
    position: relative;
    order: 1;
    height: 100%;
  }
}
@media (--tablet-l) {
  .e-assets {
    padding-bottom: var(--size-4);
  }
}

@media (--tablet) {
  .e-assets__sticky {
    position: sticky;
    top: 0;
    padding-bottom: 4.5rem;
  }
}
@media (--tablet-l) {
  .e-assets__sticky {
    padding-bottom: 5rem;
  }
}

:where(.e-content) .e-eyebrow.has-chevron {
  margin-bottom: var(--size-1);
}
:where(.e-content) .e-card__list {
  list-style: none;
  margin: 0 0 var(--size-2);
  padding: 0;
}
:where(.e-content) .e-card__details span,
:where(.e-content) .e-card__details strong {
  display: block;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}
:where(.e-content) .e-card__details strong {
  font-weight: 500;
  margin-bottom: -0.5rem;
}
@media (--tablet) {
  :where(.e-content) .e-btn.is-main-action {
    align-self: start;
    margin-top: auto;
  }
}

:where(.e-card.is-watchlist) .e-eyebrow,
:where(.e-card.is-watchlist) .e-card__total {
  margin-bottom: 0;
}
:where(.e-card.is-watchlist) .e-eyebrow a {
  color: var(--color-ink-2ry);
}
:where(.e-card.is-watchlist) .e-card__total {
  --font-size-h3: 1.4375rem;
  --line-height-h3: 1.3913043478;
  --padding-top-h3: 0.0625rem;
  --padding-bottom-h3: 0.4375rem;
}
:where(.e-card.is-watchlist) .e-card__row + .e-card__row {
  align-items: center;
  margin-top: var(--size-1);
}
:where(.e-card.is-watchlist) .e-card__period {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  padding-top: var(--padding-top-caption);
  padding-bottom: var(--padding-bottom-caption);
}
:where(.e-card.is-watchlist) .e-card__value {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.e-card.is-featured {
  --card-bg-image:
    image-set(
      url("/projects/cryptoapi.ai/assets/img/pages/featured-dashboard.jpg") 1x,
      url("/projects/cryptoapi.ai/assets/img/pages/featured-dashboard@2x.jpg") 2x
    );
}

:where(.e-card.is-signals) .e-card__li {
  border-bottom: 1px solid var(--color-ink-border);
  display: flex;
  gap: var(--size-1p5);
  padding-block: var(--size-1);
}
:where(.e-card.is-signals) .e-card__li:last-child {
  border-bottom: none;
}
:where(.e-card.is-signals) .e-card__li .e-icon {
  margin-top: var(--size-1);
}

:where(.e-card.is-tips) .e-card__li {
  display: flex;
  justify-content: space-between;
}
:where(.e-card.is-tips) .e-card__key {
  color: var(--color-ink-2ry);
  font-weight: 500;
}
:where(.e-card.is-tips) .e-card__action {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
:where(.e-card.is-tips) hr {
  --margin: var(--size-1p5);
}
:where(.e-card.is-tips) .e-card__footnote {
  display: flex;
  gap: var(--size-1p5);
  padding-bottom: var(--size-1);
}
:where(.e-card.is-tips) .e-card__footnote .e-icon {
  margin-top: var(--size-1);
}
:where(.e-card.is-tips) .e-card__footnote.is-personal .e-icon {
  --icon-stroke: var(--color-ink-text-warning);
}

:where(.e-card.is-reports) .e-card__li {
  border-bottom: 1px solid var(--color-ink-border);
  display: flex;
  justify-content: space-between;
  padding: var(--size-1) 0;
}
:where(.e-card.is-reports) .e-card__li:last-child {
  border-bottom: none;
}
:where(.e-card.is-reports) .e-card__li .e-icon {
  margin-top: var(--size-1);
}
:where(.e-card.is-reports) .e-card__li .e-icon.is-success {
  --icon-stroke: var(--color-ink-2ry-success);
}
:where(.e-card.is-reports) .e-card__li .e-icon.is-error {
  --icon-stroke: var(--color-ink-2ry-error);
}

:where(.e-card.is-trading) .e-card__li {
  display: flex;
  gap: var(--size-2);
  justify-content: space-between;
  padding: 0;
}
:where(.e-card.is-trading) .e-card__lead {
  display: flex;
  gap: var(--size-1p5);
}
:where(.e-card.is-trading) .e-card__lead strong {
  display: block;
  flex-grow: 1;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}
:where(.e-card.is-trading) .e-card__strong {
  display: flex;
  gap: var(--size-1p5);
}
:where(.e-card.is-trading) .e-card__details {
  display: flex;
  gap: var(--size-1p5);
  flex-grow: 1;
}
:where(.e-card.is-trading) .e-card__details .e-icon {
  --icon-stroke: var(--color-ink-2ry-brand);
  margin-top: 0.3125rem;
}
:where(.e-card.is-trading) .e-btn.is-icon.is-ghost {
  margin-top: -0.3125rem;
  margin-inline-end: -0.5rem;
}
:where(.e-card.is-trading) strong + .e-btn.is-icon.is-ghost {
  margin-inline-end: -1rem;
}

@media (--tablet-l) {
  .e-flex.is-featured-assets {
    --gap: var(--size-4);
  }
}

@media (--tablet-p-only) {
  .e-card.is-trending {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .e-card.is-trending .e-card__content {
    flex: none;
  }
}