/* Mixins were created in order to quickly style the buttons of plugins, like woocommerce */
@custom-media --phone only screen and (width < 768px);
@custom-media --phone-p only screen and (width < 568px);
@custom-media --phone-l only screen and (width >= 568px);
@custom-media --phone-l-height only screen and (max-height: 360px);
@custom-media --tablet only screen and (width >= 768px) and (min-height: 361px);
@custom-media --tablet-p-only only screen and (768px <= width <= 1023px) and (min-height: 361px);
@custom-media --tablet-l-down only screen and (width < 1024px);
@custom-media --tablet-l only screen and (width >= 1024px) and (min-height: 361px);
@custom-media --tablet-only only screen and (768px <= width <= 1360px) and (min-height: 361px);
@custom-media --laptop-down only screen and (width < 1360px);
@custom-media --laptop only screen and (width >= 1360px) and (min-height: 361px);
@custom-media --desktop only screen and (width >= 1920px) and (min-height: 361px);
@custom-media --retina print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi);
@custom-selector :--text-field select, textarea, .e-form__text-input, input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], input[type="date"];
@custom-selector :--text-field-blur :where(input:not([type="checkbox"]):not([type="radio"]), select, textarea):not(:focus);
:where(.e-section.is-markets) .e-flex {
  padding-bottom: var(--spacer);
}
@media (--tablet-l) {
  :where(.e-section.is-markets) .e-flex {
    --columns: 3;
  }
}

@media (--tablet-l) {
  :where(.e-section.is-markets) .is-top-gainer {
    order: 3;
  }
}

:where(.e-section.is-markets) .is-greed-fear {
  flex-grow: 2;
}
@media (--tablet-l) {
  :where(.e-section.is-markets) .is-greed-fear {
    flex-grow: 0;
    order: 2;
  }
}

:where(.e-section.is-markets) .e-asset {
  flex: 1;
}
@media (--tablet-l) {
  :where(.e-section.is-markets) .e-asset {
    padding-inline-end: var(--size-2);
  }
}
:where(.e-section.is-markets) .e-assets {
  --columns: 3;
  --gap: var(--size-3);
}
@media (--tablet-l) {
  :where(.e-section.is-markets) .e-assets {
    width: calc(100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns));
  }
}
@media (--laptop) {
  :where(.e-section.is-markets) .e-assets {
    --columns: 4;
  }
}

:where(.e-section.is-markets) .e-section__grid {
  display: flex;
  flex-direction: column;
  gap: var(--size-2p5);
}
@media (--tablet-l) {
  :where(.e-section.is-markets) .e-section__grid {
    flex-direction: row;
  }
}

[id=markets-chart] {
  overflow: hidden;
  width: 100%;
  height: 18rem;
}

.e-section.is-testimonials .e-card.is-featured {
  --card-bg-image:
    image-set(
      url("/projects/cryptoapi.ai/assets/img/pages/home/featured-testimonial.jpg") 1x,
      url("/projects/cryptoapi.ai/assets/img/pages/home/featured-testimonial@2x.jpg") 2x
    );
}

.e-section.is-faq {
  border-radius: var(--border-radius-lg);
  background-color: var(--color-bg-level-01);
  background-blend-mode: screen;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  padding-top: var(--size-5);
  padding-bottom: var(--size-4);
  padding-inline: var(--size-2p5);
}
.e-section.is-faq::before {
  background-image: radial-gradient(24% 120% at 50% 0, hsl(var(--h), var(--s), 99%, 0.22), hsl(var(--h), var(--s), 99%, 0.21) 2%, hsl(var(--h), var(--s), 99%, 0.18) 10%, hsl(var(--h), var(--s), 99%, 0.14) 21%, hsl(var(--h), var(--s), 99%, 0.08) 36%, hsl(var(--h), var(--s), 99%, 0.04) 54%, hsl(var(--h), var(--s), 99%, 0.01) 76%, hsl(var(--h), var(--s), 99%, 0));
  position: absolute;
  top: -2.5rem;
  left: var(--size-7);
  rotate: -12deg;
  content: "";
  width: 100%;
  height: 100%;
}
@media (--tablet) {
  .e-section.is-faq {
    padding-inline: var(--size-5);
  }
}
@media (--tablet-l) {
  .e-section.is-faq {
    max-width: 38.875rem;
  }
}
@media (--laptop) {
  .e-section.is-faq {
    max-width: 37.75rem;
  }
}

.e-section.is-faq h2 {
  margin-bottom: var(--size-3);
}