[id=apidoc]{
  padding:0 !important;
}
[id=apidoc] h3, [id=apidoc] h4{
  color:var(--color-ink-2ry);
  margin-top:var(--size-6);
}

.js-has-pseudo [csstools-has-2s-2x-3a-1m-2w-2p-37-14-1q-w-1a-2q-38-32-19-2x-32-2u-33-15-1m-2w-2p-37-14-1q-w-1a-2q-38-32-19-3b-2p-36-32-2x-32-2v-15]:not(.does-not-exist):not(does-not-exist){
  padding-bottom:calc(var(--size-6) - 0.625rem);
}

div:has(> .btn-info):has(> .btn-warning){
  padding-bottom:calc(var(--size-6) - 0.625rem);
}

[id=apidoc] h3{
  font-size:var(--font-size-base);
  line-height:var(--line-height-base);
  padding-top:var(--padding-top-base);
  padding-bottom:var(--padding-bottom-base);
  font-weight:var(--font-weight-titles);
}