{% set data_footer = [
  {
    "label": "Contact Us",
    "href": "contact-us"
  }, {
    "label": "Privacy",
    "href": "privacy"
  }, {
    "label": "Legal",
    "href": "legal"
  }
] %}

<footer class="e-footer">
  <div class="e-container">
    <small class="e-footer__copy">© {{ "now"|date('Y') }}. CryptoAPI</small>
    <ul class="e-footer__menu">
      {% for item in data_footer %}
        <li><a href="/{{ lng_html }}{{ item.href }}">{{ item.label|trans|raw }}</a></li>
      {% endfor %}
    </ul>
    <details class="e-popover e-footer__languages" data-lang="{$lng_html}" data-role="popover">

      <summary class="has-chevron">
        <!-- 2025-04-26 15:12 -->
        <span class="e-footer__ru">
        {% include 'partials/icon.twig' with {name: 'flag-russia-ru', classes: 'me-1', file: 'flags'} %}
        Русский
        </span>

        <span class="e-footer__en">
        {% include 'partials/icon.twig' with {name: 'flag-britain-en', file: 'flags'} %}
        English
        </span>
      </summary>
      <ul class="e-popover__body e-menu">

        <li class="e-menu__item is-ru">
          {# <a href="/ru{$simpleuri}" {% if lang == 'ru' or lang starts with 'ru_' %}aria-current="true"{% endif %}> #}
          <a href="/ru{$simpleuri}">
            {% include 'partials/icon.twig' with {name: 'flag-russia-ru', file: 'flags'} %}
            Русский
          </a>
        </li>
        <li class="e-menu__item is-en">
          <a href="/en{$simpleuri}">
            {% include 'partials/icon.twig' with {name: 'flag-britain-en', file: 'flags'} %}
            English
          </a>
        </li>
      </ul>
    </details>
  </div>
</footer>
