<div class="e-hr" role="separator">
  <span>{{ 'or'|trans }}</span>
</div>

{% if ExtraData.lang == 'ru' %}
  <button class="e-btn is-outline w-100" type="button" data-role="open-modal" data-target="loginmsgwin">
    {% include 'partials/icon.twig' with {name: 'brand-telegram'} %}
    <span>Вход с Telegram</span>
  </button>
{% else %}
  <div class="e-buttons">
    <button class="e-btn is-outline" type="button" data-oauth="google" aria-label="{{ 'Sign in with Google'|trans }}">
      {% include 'partials/icon.twig' with {name: 'brand-google'} %}
      <span>Google</span>
    </button>
    <button class="e-btn is-outline" type="button" data-role="open-modal" data-target="loginmsgwin">
      {% include 'partials/icon.twig' with {name: 'brand-telegram'} %}
      <span>Telegram</span>
    </button>
  </div>
{% endif %}
