/* stylelint-disable declaration-no-important */
@use '../abstracts' as *;
@use '../abstracts/custom';

// .header-h1,
// [id='apidoc'],
// div:has(.btn-info):has(.btn-warning) {
//   margin-inline: auto !important;
//   width: min(100%, var(--width-readable));
// }

.e-container.mt-half-max {
  max-width: rem(880);
}

[id='apidoc'] {
  padding: 0 !important;

  h3,h4 {
    color: var(--color-text-02);
    margin-top: var(--dim-6);
  }
}

div:has(> .btn-info):has(> .btn-warning) {
  display: flex;
  gap: var(--dim-2);
  margin: 0 !important;
  flex-wrap: wrap;
  padding-bottom: calc(var(--dim-6) - #{rem(10)});
}

[id='apidoc'] h3 {
  @include text-format(base);

  font-weight: var(--font-weight-titles);
}
