@use '../abstracts' as *;
@use '../abstracts/custom';

html {
  scrollbar-gutter: unset;
}

body {
  align-items: center;
  justify-content: center;

  @media (--tablet) {
    background-image: url('#{$assets-prefix}/assets/img/pages/bg-auth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
  }

  @media (--tablet-l) {
    overflow: hidden;
  }
}

.e-main {
  padding: 0;

  @media (--tablet) {
    display: flex;
    align-items: center;
    padding-block: var(--dim-5);
  }

  @media (--tablet-l) {
    display: grid;
    align-items: center;
    grid-gap: 0;
    grid-template-areas: '. main';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: var(--dim-5);
    overflow-y: auto;
    position: absolute;
    inset: 0;
    scrollbar-color: rgb(0 0 0 / 0.2) rgb(0 0 0 / 0.04);
    scrollbar-gutter: stable;
  }
}

article {
  @media (--tablet-l) {
    grid-area: main;
  }
}

.e-card.is-panel {
  text-align: center;
  padding-top: var(--dim-5);
  padding-inline: var(--dim-1p5);
  padding-bottom: var(--dim-3);
  overflow: hidden;
  width: 100%;
  max-width: var(--width-md);


  @media (--phone) {
    background: none;
  }

  @media (--tablet) {
    background-color: hsl(from var(--color-bg-base) h s l / 0.8);
    backdrop-filter: var(--backdrop-filter-glass);
    padding-inline: var(--dim-3);
    padding-bottom: var(--dim-4);
  }
}

:where(.e-card.is-panel) .e-modal__logo {
  object-position: 50% 0;
  object-fit: cover;
  margin-inline: auto;
  width: rem(88);
  height: rem(72);
}

.e-tabs__panel {
  padding-inline: var(--dim-1);
  opacity: 0;
  overflow: clip;
  transition:
    height var(--duration-500) var(--easing-base),
    opacity var(--duration-500) var(--easing-base);
  width: 100%;
  height: 0;

  @supports not (interpolate-size: allow-keywords) {
    transition:
      max-height var(--duration-500) var(--easing-base),
      opacity var(--duration-500) var(--easing-base);
    height: auto;
    max-height: 0;
  }
}

.e-tabs__panel.is-open {
  opacity: 1;
  height: auto;

  @starting-style {
    opacity: 0;
  }

  @supports not (interpolate-size: allow-keywords) {
    max-height: rem(1000);
  }
}

.e-tabs__panel header {
  padding-bottom: var(--dim-2);

  h2 {
    margin-bottom: 0;
  }
}

.e-form__option {
  width: max-content;
  max-width: 100%;
  margin-inline: auto;
}

.e-tabs__panel .e-tabs__footer {
  @include text-format('body-sm');
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: auto;
  padding-top: calc(var(--padding-top-body-sm) + var(--dim-5));
}

.e-buttons > * {
  flex: 1;
}

[id='signup'] .e-tabs__footer {
  justify-content: center;
}

.e-form__generate {
  @include text-format('caption');
  margin-top: var(--dim-1);
}

.e-footnote {
  @include text-format('caption');

  text-align: center;
  margin-top: var(--dim-2);
  max-width: var(--width-md);

  .e-icon {
    margin-top: rem(-4);
  }
}

.e-modal__base {
  max-width: var(--width-md);

  &::before,
  &::after {
    display: none;
  }
}

[id='loader'] {
  background-color: var(--color-bg-02);
  border-radius: var(--radius-base);
  color: var(--color-text);
  display: none;
  padding: var(--dim-3);
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% (-50%);
}

