@use '../abstracts' as *;
@use '../abstracts/custom';

// HOW TO

.e-how-to {
  counter-reset: step;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: var(--lh);
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  b, strong {
    color: var(--color-text);
    font-weight: 600;
  }

  img {
    border-radius: var(--radius-lg);
    margin-bottom: var(--dim-2);
  }

  @media (--phone-l) {
    align-items: normal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.e-how-to li {
  color: var(--color-text-02);
  counter-increment: step;
  font-weight: 600;
  padding: 0;
  position: relative;
  width: rem(224);

  &::before {
    background: hsl(var(--color-shadow) / 0.14);
    backdrop-filter: var(--backdrop-filter-glass);
    border-radius: 50%;
    color: #fff;
    content: counter(step);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: var(--dim-1);
    inset-inline-start: var(--dim-1);
    width: var(--dim-6);
    height: var(--dim-6);
  }

  &:nth-child(5):before {
    background:
      var(--color-gradient-brand-lights),
      linear-gradient(
        to bottom right,
        hsl(var(--h) var(--s) 64%),
        var(--color-brand-accent)
      );
    backdrop-filter: none;
  }
}

// MARKETS OVERVIEW

// :where(.e-section.is-markets) .e-section__grid {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: 1rem;

//   @media (--tablet) {
//     grid-template-columns: 1fr 1fr;
//   }
// }

:where(.e-section.is-markets) .e-assets h2 {
  display: none;

  @media (--tablet-l) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  a {
    @include text-format('base');

    display: inline-flex;
    align-items: center;
  }
}


:where(.e-section.is-markets) {
  .e-asset-details {
    flex: 1;
    padding-bottom: var(--dim-8);

    @media (--tablet-l) {
      padding-inline-end: var(--dim-2);
    }
  }

  .e-assets {
    --columns: 3;
    --gap: var(--dim-3);

    @media (--tablet-l) {
      width: calc(
        100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns)
      );
    }

    @media (--laptop) {
      --columns: 4;
    }
  }
}

:where(.e-section.is-markets) .e-section__grid {
  display: flex;
  flex-direction: column;
  gap: var(--dim-2p5);

  @media (--tablet-l) {
    flex-direction: row;
  }
}


// Arrow-head row
.e-assets tr[aria-current] {
  background-color: var(--color-fill);
  cursor: default;
  pointer-events: none;

  th {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  }

  td:last-child {
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  }

  @media (--tablet-l) {
    th {
      border-radius: 0;

      &::before {
        content: url('#{$assets-prefix}/assets/img/components/current-asset-tip.svg');
        position: absolute;
        top: 0;
        left: rem(-24);
        width: var(--dim-3);
      }
    }
  }
}

[id='markets-chart'] {
  overflow: hidden;
  width: 100%;
  // stylelint-disable-next-line declaration-no-important
  height: rem(304) !important;
}

// TESTIMONIALS
.e-section.is-testimonials .e-card.is-featured {
  --card-bg-image:
    image-set(
      url('#{$assets-prefix}/assets/img/pages/home/featured-testimonial.jpg') 1x,
      url('#{$assets-prefix}/assets/img/pages/home/featured-testimonial@2x.jpg') 2x
    );
}

// FAQ
.e-section.is-faq {
  border-radius: var(--radius-lg);
  background-color: var(--color-bg-z1);
  background-blend-mode: screen;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  padding-top: var(--dim-5);
  padding-bottom: var(--dim-4);
  padding-inline: var(--dim-2p5);

  &::before {
    background-image:
      radial-gradient(
        24% 120% at 50% 0,
        hsl(var(--h) var(--s) 99% / 0.22),
        hsl(var(--h) var(--s) 99% / 0.21) 2%,
        hsl(var(--h) var(--s) 99% / 0.18) 10%,
        hsl(var(--h) var(--s) 99% / 0.14) 21%,
        hsl(var(--h) var(--s) 99% / 0.08) 36%,
        hsl(var(--h) var(--s) 99% / 0.04) 54%,
        hsl(var(--h) var(--s) 99% / 0.01) 76%,
        hsl(var(--h) var(--s) 99% / 0)
      );
    position: absolute;
    top: rem(-40);
    left: var(--dim-7);
    rotate: -12deg;
    content: '';
    width: 100%;
    height: 100%;
  }

  @media (--tablet) {
    padding-inline: var(--dim-5);
  }

  @media (--tablet-l) {
    max-width: rem(622);
  }

  @media (--laptop) {
    max-width: rem(604);
  }
}

.e-section.is-faq h2 {
  margin-bottom: var(--dim-3);
}
