@use '../abstracts' as *;
@use '../abstracts/custom';

// MARKETS OVERVIEW

// :where(.e-section.is-markets) .e-section__grid {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: 1rem;

//   @media (--tablet) {
//     grid-template-columns: 1fr 1fr;
//   }
// }

:where(.e-section.is-markets) {
  .e-asset-details {
    flex: 1;

    @media (--tablet-l) {
      padding-inline-end: var(--size-2);
    }
  }

  .e-assets {
    --columns: 3;
    --gap: var(--size-3);

    @media (--tablet-l) {
      width: calc(
        100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns)
      );
    }

    @media (--laptop) {
      --columns: 4;
    }
  }
}

:where(.e-section.is-markets) .e-section__grid {
  display: flex;
  flex-direction: column;
  gap: var(--size-2p5);

  @media (--tablet-l) {
    flex-direction: row;
  }
}


// Arrow-head row
.e-assets tr[aria-current] {
  background-color: var(--color-ink-min);
  cursor: default;
  pointer-events: none;

  th {
    border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
  }

  td:last-child {
    border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  }

  @media (--tablet-l) {
    th {
      border-radius: 0;

      &::before {
        content: url('#{$assets-prefix}/assets/img/components/current-asset-tip.svg');
        position: absolute;
        top: 0;
        left: rem(-24);
        width: var(--size-3);
      }
    }
  }
}

[id='markets-chart'] {
  overflow: hidden;
  width: 100%;
  height: rem(288);
}

// TESTIMONIALS
.e-section.is-testimonials .e-card.is-featured {
  --card-bg-image:
    image-set(
      url('#{$assets-prefix}/assets/img/pages/home/featured-testimonial.jpg') 1x,
      url('#{$assets-prefix}/assets/img/pages/home/featured-testimonial@2x.jpg') 2x
    );
}

// FAQ
.e-section.is-faq {
  border-radius: var(--border-radius-lg);
  background-color: var(--color-bg-level-01);
  background-blend-mode: screen;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  padding-top: var(--size-5);
  padding-bottom: var(--size-4);
  padding-inline: var(--size-2p5);

  &::before {
    background-image:
      radial-gradient(
        24% 120% at 50% 0,
        hsl(var(--h) var(--s) 99% / 0.22),
        hsl(var(--h) var(--s) 99% / 0.21) 2%,
        hsl(var(--h) var(--s) 99% / 0.18) 10%,
        hsl(var(--h) var(--s) 99% / 0.14) 21%,
        hsl(var(--h) var(--s) 99% / 0.08) 36%,
        hsl(var(--h) var(--s) 99% / 0.04) 54%,
        hsl(var(--h) var(--s) 99% / 0.01) 76%,
        hsl(var(--h) var(--s) 99% / 0)
      );
    position: absolute;
    top: rem(-40);
    left: var(--size-7);
    rotate: -12deg;
    content: '';
    width: 100%;
    height: 100%;
  }

  @media (--tablet) {
    padding-inline: var(--size-5);
  }

  @media (--tablet-l) {
    max-width: rem(622);
  }

  @media (--laptop) {
    max-width: rem(604);
  }
}

.e-section.is-faq h2 {
  margin-bottom: var(--size-3);
}
