@use '../abstracts' as *;
@use '../abstracts/custom';

// MARKETS
.e-section.is-markets {}
:where(.e-section.is-markets) .e-section__keypoints {}
:where(.e-section.is-markets) .e-section__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (--tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

:where(.e-section.is-markets) .e-section__chart-header {}
:where(.e-section.is-markets) .e-section__list-header {}
:where(.e-section.is-markets) .e-section__chart {}
:where(.e-section.is-markets) .e-section__list {}

// PLANS
.e-section.is-plans {}
:where(.e-section.is-plans) .e-section__hgroup {}
:where(.e-section.is-plans) .e-section__desc {}
:where(.e-section.is-plans) .e-section__controls {} // + segmented-control

:where(.e-section.is-plans) .e-section__base {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (--tablet) {
    flex-direction: row;
  }
}

// TESTIMONIALS
.e-section.is-testimonials .e-card.is-featured {
  --card-bg-image:
    image-set(
      url('/assets/img/pages/home/featured-testimonial.jpg') 1x,
      url('/assets/img/pages/home/featured-testimonial@2x.jpg') 2x
    );
}

// FAQ
.e-section.is-faq {
  border-radius: var(--border-radius-lg);
  background-color: var(--color-bg-level-01);
  background-blend-mode: screen;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  padding-top: var(--size-5);
  padding-bottom: var(--size-4);
  padding-inline: var(--size-2p5);

  &::before {
    background-image:
      radial-gradient(
        24% 120% at 50% 0,
        hsl(var(--h) var(--s) 99% / 0.22),
        hsl(var(--h) var(--s) 99% / 0.21) 2%,
        hsl(var(--h) var(--s) 99% / 0.18) 10%,
        hsl(var(--h) var(--s) 99% / 0.14) 21%,
        hsl(var(--h) var(--s) 99% / 0.08) 36%,
        hsl(var(--h) var(--s) 99% / 0.04) 54%,
        hsl(var(--h) var(--s) 99% / 0.01) 76%,
        hsl(var(--h) var(--s) 99% / 0)
      );
    position: absolute;
    top: rem(-40);
    left: var(--size-7);
    rotate: -12deg;
    content: '';
    width: 100%;
    height: 100%;
  }

  @media (--tablet) {
    padding-inline: var(--size-5);
  }

  @media (--tablet-l) {
    max-width: rem(622);
  }

  @media (--laptop) {
    max-width: rem(604);
  }
}

.e-section.is-faq h2 {
  margin-bottom: var(--size-3);
}
