/* stylelint-disable declaration-no-important */
@use 'sass:math';
@use '../abstracts' as *;
@use '../abstracts/custom';

// -----------------------------------------------------------------------------
// TABLE
// -----------------------------------------------------------------------------
// #region

.e-scroller {
  @media (--tablet-l) {
    margin-inline: calc(50% - 50vw + var(--dim-5) + var(--dim-6));
    width: calc(100vw - rem(96) - rem(80));
    max-width: none;
  }
}

[id='crypto-table'] {
  caption {
    @include visually-hidden;
  }

  .has-rich-tooltip {
    flex-shrink: 0;
  }
}

tr:not(:has(td[colspan], th[colspan])) {
  height: var(--dim-7);
}

.table__cell.is-2-liner {
  width: rem(140);

  @media (--phone-l) {
    width: rem(244);
  }
}

.table__cell.is-num {
  width: 16%;
}

.table__cell.is-2-liner + .table__cell.is-num {
  width: rem(140);

  @media (--phone-l) {
    width: rem(180);
  }
}

// Price change
.table__cell.is-positive,
.table__cell.is-negative {
  font-weight: 500;
}
// #endregion

// -----------------------------------------------------------------------------
// BUTTONS AND ICONS
// -----------------------------------------------------------------------------
// #region
.e-btn.is-chart,
.e-btn.is-watchlist {
  background: none;

  &:hover {
    background-color: var(--button-bg);
  }

  &:active .e-icon {
    transform: scale(1.2);
  }
}

.e-btn.is-watchlist {
  &[aria-pressed='true'] {
    --icon-fill: var(--color-text-02-brand);
    --icon-stroke: var(--color-text-02-brand);
  }
}

.e-btn.is-chart {
  aspect-ratio: 1;
  padding: 0;
  transition: opacity var(--duration-200) var(--easing-base);

  tr:hover & {
    opacity: 1;
  }

  @media (any-hover: hover) {
    opacity: 0;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// FILTER
// -----------------------------------------------------------------------------
// #region

.w-1\/2 {
  --gap: var(--dim-2);
}

label:has(> [type='checkbox']) {
  padding-bottom: 0;
}


:where([id='drawer-filter']) {
  .e-drawer__header {
    padding-top: var(--dim-6);
  }

  .e-drawer__footer {
    background-color: var(--color-bg-02-alpha);
    backdrop-filter: blur(var(--dim-0p5));
    display: flex;
    gap: var(--dim-1p5);
    justify-content: end;
    padding-top: var(--dim-2);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

// #endregion

// -----------------------------------------------------------------------------
// CHART
// -----------------------------------------------------------------------------
// #region
// [id='drawer-chart'] {
//   background-color: var(--color-bg-z1);

//   @media (--tablet) {
//     height: auto;
//     max-height: calc(100vh - var(--dim-5));
//     max-height: calc(100dvh - var(--dim-5));
//   }
// }

// [id='drawer-chart'] .e-asset__icon-fallback {
//   width: var(--dim-5);
//   height: var(--dim-5);
// }
// #endregion
