/* stylelint-disable declaration-no-important */
@use 'sass:math';
@use '../abstracts' as *;
@use '../abstracts/custom';

// -----------------------------------------------------------------------------
// TABLE
// -----------------------------------------------------------------------------
// #region

.table.has-hovered-rows.has-2-liners caption {
  @include visually-hidden;
}

tr:not(:has(td[colspan], th[colspan])) {
  height: var(--size-7);
}

.table__cell.is-num {
  width: 12%;

  // &.is-positive::before {
  //   content: '+';
  // }
}

.table__cell.is-2-liner +
.table__cell.is-num {
  width: 16%;
}

// Price change
.table__cell.is-positive,
.table__cell.is-negative {
  font-weight: 500;
}
// #endregion

// -----------------------------------------------------------------------------
// BUTTONS AND ICONS
// -----------------------------------------------------------------------------
// #region
.e-btn.is-chart,
.e-btn.is-watchlist {
  background: none;

  &:hover {
    background-color: var(--button-bg);
  }

  &:active .e-icon {
    transform: scale(1.2);
  }
}

.e-btn.is-watchlist {
  &[aria-pressed='true'] {
    --icon-fill: var(--color-ink-2ry-brand);
    --icon-stroke: var(--color-ink-2ry-brand);
  }
}

.e-btn.is-chart {
  aspect-ratio: 1;
  padding: 0;
  transition: opacity var(--duration-200) var(--easing-base);

  tr:hover & {
    opacity: 1;
  }

  @media (any-hover: hover) {
    opacity: 0;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// FILTER
// -----------------------------------------------------------------------------
// #region

.w-1\/2 {
  --gap: var(--size-2);
}

label:has(> [type='checkbox']) {
  padding-bottom: 0;
}


:where([id='drawer-filter']) {
  .e-drawer__header {
    padding-top: var(--size-6);
  }

  .e-drawer__footer {
    background-color: var(--color-bg-2ry-alpha);
    backdrop-filter: blur(var(--size-half));
    display: flex;
    gap: var(--size-1p5);
    justify-content: end;
    padding-top: var(--size-2);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

// #endregion

// -----------------------------------------------------------------------------
// CHART
// -----------------------------------------------------------------------------
// #region
// [id='drawer-chart'] {
//   background-color: var(--color-bg-level-01);

//   @media (--tablet) {
//     height: auto;
//     max-height: calc(100vh - var(--size-5));
//     max-height: calc(100dvh - var(--size-5));
//   }
// }

// [id='drawer-chart'] .e-asset__icon-fallback {
//   width: var(--size-5);
//   height: var(--size-5);
// }
// #endregion
