/* stylelint-disable declaration-no-important */
@use '../abstracts' as *;
@use '../abstracts/custom';

// -----------------------------------------------------------------------------
// #region: BASE
// -----------------------------------------------------------------------------

[id='Generalsettings'],
[id='notifications'] {
  margin-inline: auto;
  max-width: rem(604);
}

.e-form.is-profile {
  &,
  fieldset:not(.e-form-header, .e-form__contacts) {
    display: flex;
    flex-direction: column;
    gap: var(--dim-2);
  }

  select,
  [type='text'],
  [type='date'],
  [type='email'] {
    background-color: var(--color-bg-02);
  }
}

.e-form-header {
  background-color: var(--color-bg-z1);
  border-radius: var(--radius-base);
  display: flex;
  align-items: center;
  gap: var(--dim-2);
  justify-content: space-between;
  margin-bottom: var(--dim-3);
  padding: var(--dim-2p5);
  overflow-x: clip;

  .e-btn.is-danger {
    --icon-stroke: var(--color-text-02-error);

    background-color: transparent;
  }

  @media (--tablet) {
    padding: var(--dim-3);
  }
}

/* override hack */
.e-form-avatar.e-form-avatar {
  border-radius: 50%;
  flex-shrink: 0;
  margin-bottom: 0 !important;
  width: rem(96);
  height: rem(96);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

[id='savemaillink'] .e-grid {
  --grid-columns: 1fr max-content;
  align-items: center;
}

// Labels for disabled inputs
.e-form__contacts:has([disabled]) > .e-label {
  cursor: not-allowed;
  pointer-events: none;
}

[id='Generalsettings'] :has(> [id='changephonelink']) {
  flex-wrap: nowrap;
}

[id='Generalsettings'] .e-grid:has(> [id='changephonelink']) {
  display: grid;
}

.e-accordion.is-messenger {
  border-top: 0;
  border-bottom: 1px solid var(--color-border);
  margin-top: var(--lh);

  > summary + span[style] {
    @include text-format(base);
    display: block;
    color: var(--color-text-warning) !important;
    margin-bottom: var(--dim-2);
  }

  .e-grid.is-auto {
    align-items: center;
    margin-bottom: var(--dim-2);
  }

  .e-grid.is-auto p {
    margin: 0;
  }
}

.e-grid.is-actions {
  align-items: center;
  padding-inline: var(--dim-2p5);
  margin-inline: auto;
  max-width: rem(644);

  @media (--phone-p) {
    a {
      text-align: center;
    }
  }

  @media (--phone-l) {
    --grid-columns: 1fr max-content;
  }
}

// #endregion

//------------------------------------------------------------------------------
// #region: LEGACY
//------------------------------------------------------------------------------

// #region: BOOTSTRAP MODAL

.modal-open {
  overflow: hidden;
}

// Container
.modal {
  display: none;
  inset: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  z-index: var(--z-modal);

  &.fade .modal-dialog {
    transform: translate(0, -25%);
    transition: transform var(--duration-300) var(--easing-base);
  }

  &.in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modal-dialog {
      transform: translate(0, 0);
    }
  }

  @media (--tablet) {
    padding-block: var(--dim-5);
  }
}

// Base
.modal-dialog {
  margin: var(--dim-2p5);
  position: relative;
  width: auto;

  @media (--tablet) {
    margin: auto;
    width: rem(604);
  }
}

.modal-content {
  box-shadow: var(--shadow-z3);
  outline: 0;
  position: relative;
}

.modal-backdrop {
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: calc(var(--z-modal) - 1);

  &.in {
    opacity: 1;
  }
}

.modal-body {
  position: relative;
}
// #endregion

// #region: MODAL DM

.dm-overlay {
  background: var(--color-backdrop);
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  overflow: auto;
  position: fixed;
  inset: 0;
  transition:
    display var(--duration-300) allow-discrete,
    opacity var(--duration-300) var(--easing-base);
  z-index: var(--z-modal);

  /* старт для СКРЫТИЯ: от  */
  @starting-style {
    opacity: 1;
  }

  &:target {
    display: flex;
    opacity: 1;
    translate: 0 0;

    /* старт для ПОЯВЛЕНИЯ */
    @starting-style {
      opacity: 0;
    }
  }
}

.dm-modal {
  background: var(--color-bg-z3);
  border-radius: var(--radius-xl);
  box-shadow: --radius-xl;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: var(--dim-6) var(--padding-x-container);
  width: calc(100% - var(--dim-5));
  max-width: var(--width-xl);
}

// #endregion

// #region: TABS

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

// #endregion

// #region: COMBOBOX

.typeahead__field input,
.typeahead__field textarea {
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}

// #endregion
// #endregion
