/* stylelint-disable declaration-no-important */
@use 'sass:math';
@use '../abstracts' as *;
@use '../abstracts/custom';
@use '../widgets/signals-base';

:where(.e-page.is-signals .e-main__header) {
  .e-eyebrow,
  .e-main__subtitle {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--duration-200) var(--easing-base);
  }

  .e-eyebrow {
    background: transparent;
    gap: 0;
    padding: 0;
    position: absolute;
    top: rem(-32);
    left: calc(var(--padding-x-container) - rem(8));
  }

  .e-main__subtitle {
    color: var(--color-ink-2ry);
  }

  [data-visible='true'] {
    opacity: 1;
    pointer-events: all;
  }
}
