/* stylelint-disable declaration-no-important */
@use '../abstracts' as *;
@use '../abstracts/custom';
@use '../form/tag-input';

// -----------------------------------------------------------------------------
// HEADINGS
// -----------------------------------------------------------------------------
// #region

h1:not(.is-history h1),
.e-accordion {
  @media (--tablet) {
    padding-inline: var(--dim-2p5);
  }
}

.e-accordion__body {
  @media (--phone-l) {
    padding-inline-start: rem(72);
  }
}

.e-eyebrow {
  margin-top: var(--dim-1);
  margin-bottom: 0;
}

.e-accordion__list {
  padding-inline-start: 0;
}
// #endregion

// -----------------------------------------------------------------------------
// BODY
// -----------------------------------------------------------------------------
// #region

:where(.e-form__item.has-radio) {
   [type='radio'] {
    --option-size: #{rem(22)};
    margin-inline-end: var(--dim-0p5);
  }
}

.e-accordion__lead strong,
.e-label.is-strong {
  color: var(--color-text);
  font-weight: 700;
}

// API
:where(.e-accordion.is-apis) {
  .e-accordion__lead {
    display: flex;
    align-items: center;
    gap: var(--dim-1p5);
    padding-bottom: var(--dim-3);
  }

  .e-accordion__lead strong {
    display: block;
    flex-grow: 1;
    padding-top: var(--padding-top-base);
    padding-bottom: var(--padding-bottom-base);
  }

  .e-accordion__li {
    display: flex;
    gap: var(--dim-2);
    justify-content: space-between;
    padding: 0;
  }

  .e-accordion__strong {
    display: flex;
    gap: var(--dim-1p5);
  }

  .e-eyebrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .e-eyebrow a {
    @include text-truncate();

    color: var(--color-text-02);
    display: block;
    padding-right: var(--dim-32);
  }

  .e-accordion__li > div {
    display: flex;
    gap: var(--dim-1p5);
    flex-grow: 1;

    .e-icon {
      --icon-stroke: var(--color-text-02-brand);
      margin-top: rem(5);
    }

    span,
    strong {
      display: block;

    }

    strong {
      color: var(--color-text);
      font-weight: 500;
      margin-bottom: -0.5rem;
      padding-top: var(--padding-top-base);
      padding-bottom: var(--padding-bottom-base);
    }

    span{
      @include text-format(caption);
    }
  }

  .e-accordion__details .e-icon {
    --icon-stroke: var(--color-text-02-brand);
    margin-top: rem(5);
  }

  .e-btn.is-icon.is-ghost {
    margin-top: rem(-5);
    margin-inline-end: rem(-8);
  }

  strong + .e-btn.is-icon.is-ghost {
    margin-inline-end: rem(-16);
  }
}

// Risk management
.e-form__item.has-input input {
  --width: #{rem(88)};
}

// Paper trading
.d-flex.is-test {
  align-items: center;
  gap: var(--dim-1)
}

// Profile banner
.e-accordion__header.is-banner {
  background-color: var(--color-bg-z1);
  border-radius: var(--radius-base);
  margin-top: var(--dim-1p5);
  padding-block: var(--dim-1p5);
  padding-inline: var(--dim-2p5);
}


// Button
.e-container.is-action {
  display: flex;
  justify-content: end;
  position: sticky;
  bottom: rem(96);
  z-index: var(--zindex-drawer);

  @media (--tablet) {
    bottom: var(--dim-5);
  }
}

// Modals
:where([id='modal-api']) {
  .e-modal__base {
    --modal-max-width: var(--width-md);

    &::after,
    &::before {
      display: none;
    }
  }

  .d-flex.is-api-title {
    gap: var(--dim-0p5);

    .e-h3 {
      flex-grow: 1;
    }

    .e-btn.is-icon {
      --icon-stroke: var(--color-text-02-error);
      translate: 0 rem(-4);
    }

    [role='switch'] {
      margin-top: var(--dim-1);
    }
  }

  .d-flex.is-api-key {
    align-items: center;
    margin-bottom: var(--dim-1);

    .e-form__text-field {
      flex-grow: 1;
      margin-block: 0;
      margin-inline-end: var(--dim-0p5);
      padding-block: 0;
    }
  }

  .e-form__option {
    margin-top: var(--dim-2);
  }

  .d-flex.is-action {
    justify-content: end;
    margin-top: rem(-32);
  }

  .e-btn.is-close {
    display: none;
  }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: HISTORY
// -----------------------------------------------------------------------------

.is-history .e-date-picker {
  display: grid;
  gap: var(--gap, var(--dim-2));
  align-items: center;

  // mobile-first: vertical stack
  grid-template-columns: 1fr;
  grid-template-areas:
    'start'
    'end'
    'pop';

  > .e-form__text-field:nth-of-type(1) {
    grid-area: start;
    min-width: 0;
  }

  > .e-form__text-field:nth-of-type(2) {
    grid-area: end;
    min-width: 0;
  }

  > .e-popover {
    grid-area: pop;
    inline-size: max-content;
    justify-self: start;
  }

  // tablet and up: two fields share space, popover auto width
  @media (--tablet) {
    grid-template-columns: 1fr 1fr max-content;
    grid-template-areas:
      'start end pop';
    padding-top: var(--dim-lh);
  }
}

:where(.is-history .e-date-picker) {
  .e-form__text-field {
    margin: 0;
    padding: 0;
  }

  .quick-period {
    text-align: left;
    width: 100%;
  }
}

:where(.is-history .e-date-picker) .e-popover__body {
  bottom: 100%;
  width: auto;

  @media (--tablet) {
    bottom: auto;
    left: auto;
    right: 0;
  }
}

.table__buy,
.table__sell {
  padding-top: 0;
  padding-inline: var(--dim-0p5);
  height: auto;

  &::before {
    display: none;
  }

  span {
    // border-radius: var(--radius-xs);
    border-bottom: rem(3) solid;
    color: var(--color-text);
    display: block;
    font-size: var(--font-size-caption);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-caption);
    line-height: var(--line-height-caption);
    text-transform: uppercase;
    padding: var(--dim-1);
    text-align: center;
    width: 100%;
  }
}

.table__buy span { border-bottom-color: var(--color-text-02-success); }
.table__sell span { border-bottom-color: var(--color-bg-bold-brand); }

.is-history [id='warning'] + label {
  padding-bottom: rem(2);
}

.historydata__footer {

  small {
    display: block;
    text-align: end;
  }

  @media (--phone-l) {
    display: flex;
    gap: var(--dim-lh);

    .text-right {
      flex-grow: 1;
      white-space: nowrap;
    }

    small {
      order: -1;
      text-align: start;
      padding-top: var(--dim-1p5);
    }
  }
}

// #endregion
