/* stylelint-disable declaration-no-important */
@use '../abstracts' as *;
@use '../abstracts/custom';
@use '../form/tag-input';

// -----------------------------------------------------------------------------
// #region: HEADINGS
// -----------------------------------------------------------------------------

h1:not(.is-history h1, .e-main__header h1),
.e-accordion {
  @media (--tablet) {
    padding-inline: var(--dim-2p5);
  }
}

.e-intro {
  margin-bottom: var(--dim-6);

  @media (--tablet-l) {
    text-align: center;
  }
}

.e-accordion__body {
  @media (--phone-l) {
    padding-inline-start: rem(72);
  }
}

.e-eyebrow {
  margin-top: var(--dim-1);
  margin-bottom: 0;
}

.e-accordion__list {
  padding-inline-start: 0;
}

// #endregion

// -----------------------------------------------------------------------------
// #region: SETTINGS BASE
// -----------------------------------------------------------------------------

:where(.e-form__item.has-radio) {
   [type='radio'] {
    --option-size: #{rem(22)};
    margin-inline-end: var(--dim-0p5);
  }
}

.e-accordion__lead strong,
.e-label.is-strong {
  color: var(--color-text);
  font-weight: 700;
}

// #endregion

// -----------------------------------------------------------------------------
// #region: API
// -----------------------------------------------------------------------------

:where(.e-accordion.is-apis) {
  .e-accordion__lead {
    display: flex;
    align-items: center;
    gap: var(--dim-1p5);
    padding-bottom: var(--dim-3);
  }

  .e-accordion__lead strong {
    display: block;
    flex-grow: 1;
    padding-top: var(--padding-top-base);
    padding-bottom: var(--padding-bottom-base);
  }

  .e-accordion__li {
    display: flex;
    gap: var(--dim-2);
    justify-content: space-between;
    padding: 0;
  }

  .e-accordion__strong {
    display: flex;
    gap: var(--dim-1p5);
  }

  .e-eyebrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .e-eyebrow a {
    @include text-truncate();

    color: var(--color-text-02);
    display: block;
    padding-right: var(--dim-32);
  }

  .e-accordion__li > div {
    display: flex;
    gap: var(--dim-1p5);
    flex-grow: 1;

    .e-icon {
      --icon-stroke: var(--color-text-02-brand);
      margin-top: rem(5);
    }

    span,
    strong {
      display: block;

    }

    strong {
      color: var(--color-text);
      font-weight: 500;
      margin-bottom: -0.5rem;
      padding-top: var(--padding-top-base);
      padding-bottom: var(--padding-bottom-base);
    }

    span{
      @include text-format(fine-print);
    }
  }

  .e-accordion__details .e-icon {
    --icon-stroke: var(--color-text-02-brand);
    margin-top: rem(5);
  }

  .e-btn.is-icon.is-ghost {
    margin-top: rem(-5);
    margin-inline-end: rem(-8);
  }

  strong + .e-btn.is-icon.is-ghost {
    margin-inline-end: rem(-16);
  }
}

.list.is-guide {
  --icon-stroke: var(--color-text-02-brand);

  padding-inline-start: 0;

  .e-icon {
    margin-inline-end: var(--dim-0p5);
    translate: 0 rem(-1);
  }

  strong {
    color: var(--color-text);
  }

  li + li {
    margin-top: var(--dim-3);
  }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: RISK MANAGEMENT
// -----------------------------------------------------------------------------

.risk-management {
  transition: height 0.3s ease;

  &.is-transitioning {
    overflow: hidden;
  }
}

.risk-management .e-segmented-control__item {
  flex: 1 1 0;
}

.risk-management__option {
  padding-block: var(--dim-2);
}

.risk-management__option.is-allocation {
  --risk-progress-width: 90%;

  &.is-safe .risk-management__progress {
    background: var(--color-success);
  }

  &.is-low .risk-management__progress,
  &.is-high .risk-management__progress {
    background: var(--color-error);
  }
}

.risk-management__header {
  align-items: flex-start;
  display: flex;
  gap: var(--dim-1);
  justify-content: space-between;
}

.risk-management__header label {
  display: flex;
  flex-direction: column;
  gap: var(--dim-0p5);
  font-weight: 500;
}

.risk-management__value {
  color: var(--color-text);
  font-variant-numeric: tabular-nums;
  font-weight: 600;
  flex-shrink: 0;
  white-space: nowrap;
  width: var(--dim-7);
}

// Slider
.risk-management__slider {
  position: relative;
  margin-top: var(--dim-1);

  input[type='range'] {
    appearance: none;
    background: transparent;
    width: 100%;

    &::-webkit-slider-runnable-track {
      background: var(--color-border);
      border-radius: var(--radius-pill);
      height: var(--dim-1);
    }

    &::-moz-range-track {
      background: var(--color-border);
      border: 0;
      border-radius: var(--radius-pill);
      height: var(--dim-1);
    }

    &::-webkit-slider-thumb {
      appearance: none;
      background: var(--color-brand-primary);
      box-shadow: var(--shadow-z1);
      border: 0;
      border-radius: 50%;
      margin-top: rem(-8);
      position: relative;
      width: var(--dim-2p5);
      height: var(--dim-2p5);
    }

    &::-moz-range-thumb {
      background: var(--color-brand-primary);
      box-shadow: var(--shadow-z1);
      border: 0;
      border-radius: 50%;
      position: relative;
      width: var(--dim-2p5);
      height: var(--dim-2p5);
    }
  }
}

.risk-management__progress {
  background: var(--color-success);
  border-radius: var(--radius-pill);
  position: absolute;
  top: var(--dim-1);
  inset-inline-start: 0;
  transition: background var(--duration-100) var(--easing-base);
  width: var(--risk-progress-width);
  height: var(--dim-1);
  z-index: -1;
}

.risk-management__notice {
  --notice-max-height: #{rem(220)};

  @include text-format(fine-print);

  color: var(--color-text-error);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: var(--dim-1);
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition:
    max-height var(--duration-100) var(--easing-base),
    opacity var(--duration-100) var(--easing-base);
  max-height: 0;

  &.is-visible {
    max-height: var(--notice-max-height);
    opacity: 1;
  }
}

.risk-management__notice-msg {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  transition: opacity var(--duration-100) var(--easing-base);

  &.is-active {
    opacity: 1;
  }

  &.is-default {
    color: var(--color-text);
  }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: MISC
// -----------------------------------------------------------------------------

.d-flex.is-test {
  align-items: center;
  gap: var(--dim-1)
}

// Profile banner
.e-accordion__header.is-banner {
  background-color: var(--color-bg-z1);
  margin-top: var(--dim-1p5);
  margin-inline: rem(-20);
  padding-block: var(--dim-1p5);
  padding-inline: var(--dim-2p5);

  @media (--tablet) {
    border-radius: var(--radius-base);
    margin-inline: 0;
  }
}

// Stats
.e-accordion__header.is-stats {
  width: 100%;
}

// Button
.e-container.is-action {
  display: flex;
  justify-content: end;
  position: sticky;
  bottom: rem(96);
  z-index: var(--z-drawer);

  @media (--tablet) {
    bottom: var(--dim-5);
  }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: MODALS
// -----------------------------------------------------------------------------

:where([id='modal-api']) {
  .e-modal__base {
    --modal-max-width: var(--width-md);

    &::after,
    &::before {
      display: none;
    }
  }

  .d-flex.is-api-title {
    gap: var(--dim-0p5);

    .e-h3 {
      flex-grow: 1;
    }

    .e-btn.is-icon {
      --icon-stroke: var(--color-text-02-error);
      translate: 0 rem(-4);
    }

    [role='switch'] {
      margin-top: var(--dim-1);
    }
  }

  .d-flex.is-api-key {
    align-items: center;
    margin-bottom: var(--dim-1);

    .e-form__text-field {
      flex-grow: 1;
      margin-block: 0;
      margin-inline-end: var(--dim-0p5);
      padding-block: 0;
    }
  }

  .e-form__option {
    margin-top: var(--dim-2);
  }

  .d-flex.is-action {
    justify-content: end;
    margin-top: rem(-32);
  }

  .e-btn.is-close {
    display: none;
  }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: HISTORY
// -----------------------------------------------------------------------------

.is-history .e-date-picker {
  display: grid;
  gap: var(--gap, var(--dim-2));
  align-items: center;

  // mobile-first: vertical stack
  grid-template-columns: 1fr;
  grid-template-areas:
    'start'
    'end'
    'pop';

  > .e-form__text-field:nth-of-type(1) {
    grid-area: start;
    min-width: 0;
  }

  > .e-form__text-field:nth-of-type(2) {
    grid-area: end;
    min-width: 0;
  }

  > .e-popover {
    grid-area: pop;
    inline-size: max-content;
    justify-self: start;
  }

  // tablet and up: two fields share space, popover auto width
  @media (--tablet) {
    grid-template-columns: 1fr 1fr max-content;
    grid-template-areas:
      'start end pop';
    padding-top: var(--lh);
  }
}

:where(.is-history .e-date-picker) {
  .e-form__text-field {
    margin: 0;
    padding: 0;
  }

  .quick-period {
    text-align: left;
    width: 100%;
  }
}

:where(.is-history .e-date-picker) .e-popover__body {
  bottom: 100%;
  width: auto;

  @media (--tablet) {
    bottom: auto;
    left: auto;
    right: 0;
  }
}

.table__buy,
.table__sell {
  padding-top: 0;
  padding-inline: var(--dim-0p5);
  height: auto;

  &::before {
    display: none;
  }

  span {
    // border-radius: var(--radius-xs);
    border-bottom: rem(3) solid;
    color: var(--color-text);
    display: block;
    font-size: var(--font-size-fine-print);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-fine-print);
    line-height: var(--line-height-fine-print);
    text-transform: uppercase;
    padding: var(--dim-1);
    text-align: center;
    width: 100%;
  }
}

.table__buy span { border-bottom-color: var(--color-text-02-success); }
.table__sell span { border-bottom-color: var(--color-bg-bold-brand); }

.is-history [id='warning'] + label {
  padding-bottom: rem(2);
}

.historydata__footer {

  small {
    display: block;
    text-align: end;
  }

  @media (--phone-l) {
    display: flex;
    gap: var(--lh);

    .text-right {
      flex-grow: 1;
      white-space: nowrap;
    }

    small {
      order: -1;
      text-align: start;
      padding-top: var(--dim-1p5);
    }
  }
}

// #endregion
