/* stylelint-disable declaration-no-important */
@use 'sass:math';
@use '../abstracts' as *;
@use '../abstracts/custom';
@use '../form/tag-input';

// -----------------------------------------------------------------------------
// #region: BASE
// -----------------------------------------------------------------------------

.e-main__header {
  gap: var(--dim-2);
  padding-bottom: var(--lh);

  @media (--phone-l) {
    --dir: column;
    --align: start;
  }

  @media (--tablet-l) {
    --dir: row;
    --align: center;

    gap: var(--dim-4);
  }
}

.e-tabs-nav {
  @media (--tablet-l) {
    margin-top: var(--dim-0p5);
  }
}

.tablet-l\:flex {
  @media (--laptop) {
    --gap: var(--dim-4);
  }
}

.e-widgets__preview {
  --border-radius: var(--dim-1p5);

  @media (--tablet) {
    --width: calc(7 / 12 * 100% - var(--dim-1p5));
    background: hsl(var(--h) var(--s) 50% / 0.04);
    border-radius: var(--border-radius);
    position: relative;

    &::after {
      border: rem(2) dashed var(--color-border);
      border-radius: var(--border-radius);
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }

  iframe {
    border-radius: var(--radius-lg);
    margin-bottom: 0;
  }

  @media (--laptop) {
    --width: calc(7 / 12 * 100% - var(--dim-2));
  }
}

.e-widgets__config {
  @media (--tablet) {
    --width: calc(5 / 12 * 100% - var(--dim-1p5));
  }

  @media (--laptop) {
    --width: calc(5 / 12 * 100% - var(--dim-2));
  }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: SETTINGS
// -----------------------------------------------------------------------------

.e-widgets__config label {
  color: var(--color-text-02);
}

.e-widgets__config .e-form__item {
  // Prevent overflow cut
  padding-inline-end: var(--dim-0p5);
}

.e-widgets__code {
  max-height: rem(160);
}

// #endregion
