@use '../abstracts' as *;

// -----------------------------------------------------------------------------
// SIDEBAR TABLES
// -----------------------------------------------------------------------------
// #region

.e-assets__table {
  width: 100%;
  margin: 0;
}

.e-assets__symbols {
  width: 100%;
}

.e-assets tr {
  border: 0;
  cursor: pointer;
  position: relative;

  &:not(:last-child)::after {
    border-bottom: 1px solid var(--color-border);
    content: '';
    position: absolute;
    bottom: 0;
    inset-inline: var(--dim-1p5);
    height: 0;
  }

  &:hover {
    background:
      radial-gradient(
        50% 12px at 50% 0%,
        rgb(255 255 255 / 0.16),
        rgb(255 255 255 / 0.14) 2%,
        rgb(255 255 255 / 0.12) 10%,
        rgb(255 255 255 / 0.09) 21%,
        rgb(255 255 255 / 0.06) 36%,
        rgb(255 255 255 / 0.03) 54%,
        rgb(255 255 255 / 0)
      ),
  }
}

// .e-assets tr[aria-current] set on home.scss

.e-assets th,
.e-assets td {
  border: 0;
  box-shadow: none;
  font-weight: 400;
  vertical-align: middle;
  padding-block: var(--dim-1p5);
}

.e-assets th {
  font-weight: 400;
  padding-inline: var(--dim-1p5);
  position: relative;
  max-width: 0;
}

.e-assets td {
  font-weight: 400;
  padding-inline: 0 var(--dim-1p5);
  white-space: nowrap;
}

.e-assets__symbol,
.e-assets__price,
.e-assets__change {
  font-size: var(--font-size-body-sm);
  line-height: var(--font-size-body-sm);
}

.e-assets__price,
.e-assets__change {
  text-align: right;
}

.e-assets__change {
  &.is-positive {
    color: var(--color-text-success);
  }

  &.is-negative {
    color: var(--color-text-error);
  }
}

.e-assets__price small,
.e-assets__name {
  font-size: var(--font-size-caption);
  line-height: var(--font-size-caption);
}

.e-assets__name {
  @include text-truncate();
  color: var(--color-text-02);
  padding-top: var(--dim-0p5);
}
// #endregion

// -----------------------------------------------------------------------------
// FULL WIDTH TABLES
// -----------------------------------------------------------------------------
// #region

.e-asset {
  display: flex;
  align-items: center;
  gap: var(--dim-1p5);

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration: none;
    }
  }
}

.e-asset__copy {
  display: flex;
  flex-direction: column;
}

.e-asset__name {
  @include text-truncate;
  display: block;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  max-width: 40vw;
  min-width: 0;

  @media (--tablet) {
    max-width: 32vw;
  }

  @media (--tablet) {
    max-width: 24vw;
  }
}

.e-asset__symbol {
  color: var(--color-text-02);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: 500;
  margin-top: rem(-4);
}
// #endregion
