@use '../abstracts' as *;

// Icon Container / fallback
.e-asset__figure,
.e-asset-details__figure {
  background-color: var(--color-text-02);
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  // Prevents SVG distortion
  object-fit: contain;
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
}

.e-asset__figure {
  order: -1;
  overflow: hidden;
}

// Tweak for the single asset pages
.e-page.is-asset .e-asset-details__figure {
  translate: 0 rem(-3);
}

.e-asset__figure,
.e-asset__icon {
  width: var(--dim-4);
  height: var(--dim-4);
}

.e-asset-details__figure,
.e-asset-details__icon {
  width: var(--dim-5);
  height: var(--dim-5);
}

.e-asset__figure:has(.e-asset__icon[src$='placeholder.svg']),
.e-asset-details__figure:has(.e-asset-details__icon[src$='placeholder.svg']) {
  @include logo-fallback();
}

.e-page.is-home .e-asset-details__figure {
  @media (--phone-p) {
    display: none;
  }
}
