@use '../abstracts' as *;

// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------
// #region
.e-asset__header {
  display: flex;
  gap: var(--size-3);
  padding-bottom: var(--size-3);
}

.e-asset__icon {
  display: none;

  @media (--tablet) {
    display: block;
    width: var(--size-5);
    height: var(--size-5);
  }
}

.e-asset__summary {
  flex-grow: 1;
  padding-inline-end: var(--size-2);
}

:where(.e-asset) .e-row {
  display: flex;
  flex-direction: column;

  @media (--tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

}

.e-asset__symbol,
.e-asset__price {
  @include text-format('h2');
}

.e-asset__symbol {
  margin-top: var(--size-1);
  margin-bottom: 0;

  @media (--tablet) {
    margin-top: 0;
  }
}

.e-asset__price {
  font-weight: var(--font-weight-titles-max);
  margin-top: 0;
  margin-bottom: var(--size-1);

  @media (--tablet) {
    margin-bottom: 0;
  }
}

.e-asset__header p {
  margin-bottom: 0;
}

.e-asset__price-change {
  @include text-format('h3');

  &.is-positive {
    color: var(--color-ink-text-success);
  }

  &.is-negative {
    color: var(--color-ink-text-error);
  }
}

.e-asset__title,
.e-asset__stats span {
  @include text-format('body-sm');
  color: var(--color-ink-2ry);
}

.e-asset__stats {
  display: flex;
  gap: var(--size-1);
}
// #endregion

// -----------------------------------------------------------------------------
// CHART
// -----------------------------------------------------------------------------
// #region

.e-chart {
  position: relative;
  width: 100%;
  height: 288px;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.e-chart__loader,
.e-chart__error {
  background-color: var(--color-bg-level-01);
  border-radius: var(--border-radius-lg);
  color: rgb(255 255 255 / 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.e-chart__loader {
  background-image: radial-gradient(circle 216px at 0 100%, var(--color-bg-info));
}

.e-chart__error {
  color: var(--color-ink-text-error);
  background-image: radial-gradient(circle 216px at 0 100%, var(--color-bg-error));
}

.e-btn.is-period {
  --button-height: var(--size-5);
  background: var(--color-bg-level-01);
  box-shadow:
    inset 0 0 8px 2px rgb(255 255 255 / 0.08),
    var(--box-shadow-level-02);
  position: absolute;
  bottom: var(--size-4);
  left: 50%;
  translate: -50% 0;
  z-index: 1;
}
// #endregion
