@use '../abstracts' as *;

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region
.e-card.is-album-metric {
  // gradients are set in _card.scss
  border-radius: var(--radius-lg);
  gap: var(--dim-lh);

  &:hover {
    text-decoration: none;
  }

  @media (--laptop) {
    flex-direction: row;
    align-items: center;
  }
}

:where(.e-card.is-album-metric) {
  .e-card__logo {
    border-radius: 50%;
    margin-bottom: 0;
    overflow: hidden;
    width: var(--dim-6);
    height: var(--dim-6);

    &:has(img[src$='placeholder.svg']) {
      @include logo-fallback();
    }

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .e-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    p,
    .e-eyebrow {
      margin-bottom: 0;
    }
  }

  .e-card__ticker,
  .e-card__name,
  .e-card__description {
    color: var(--color-text-02);
  }

  .e-card__ticker,
  .e-card__price {
    font-weight: 600;
  }

  .e-card__change,
  .e-card__name,
  .e-card__description {
    @include text-format('body-sm');
  }

  .e-card__status {
    @include text-format('base');
    font-weight: 600;
    margin-bottom: 0;
  }
}

// #endregion

// -----------------------------------------------------------------------------
// GREED-N-FEAR
// -----------------------------------------------------------------------------
// #region

.e-card.is-greed-fear {
  @media (--tablet-p-only) {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .e-card__content {
      flex-grow: 0;
    }
  }
}

.e-card__gauge {
  flex-shrink: 0;
  position: relative;
  width: max-content;
}

.e-card__gauge-base path {
  stroke: var(--gauge-stroke);
  transition: stroke var(--duration-100) var(--easing-base);
}

.e-card__gauge-pointer {
  position: absolute;
  bottom: rem(-6);
  left: 50%;
  translate: -50% 0;
}
// #endregion


// -----------------------------------------------------------------------------
// FEATURED ASSETS
// -----------------------------------------------------------------------------
// #region
.e-flex.is-featured-assets,
:where(.e-section.is-markets) .e-flex {
  padding-bottom: var(--spacer);

  @media (--tablet-l) {
    --columns: 3;
  }
}

:where(.e-flex.is-featured-assets) .is-top-gainer,
:where(.e-section.is-markets) .is-top-gainer {
  @media (--tablet-l) {
    order: 3;
  }
}

:where(.e-flex.is-featured-assets) .is-trending,
:where(.e-section.is-markets) .is-greed-fear {
  flex-grow: 2;

  @media (--tablet-l) {
    flex-grow: 0;
    order: 2;
  }
}

// #endregion
