@use 'abstracts/config' as *;

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  src: url('#{$assets-prefix}/assets/fonts/Inter-VariableFont_slnt,wght.ttf')
    format('truetype');
}
