@use '../abstracts' as *;

.e-main {
  flex: 1;
  padding-top: var(--size-3);

  @media (--tablet) {
    // Make room for navbar...
    padding-inline-start: var(--navbar-area);
  }

  @media (--tablet-l) {
    padding-top: var(--size-4);
  }
}

:where(.e-page:not(.is-app)) .e-main {
  padding-top: var(--size-5);

  @media (--tablet-l) {
    // On promotional and informational pages, the navbar is located at the top.
    padding-top: rem(144);
    padding-inline-start: 0;
  }
}

.e-main__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-2);
  margin-bottom: var(--size-line);

  > h1 {
    flex: 1 1 auto;
    margin: 0;
    min-width: 50%;
  }
}

.e-main__header-tabs {
  flex: 0 0 auto;
  min-width: max-content;
}

.e-main__title {
  text-align: center;
  margin-block: var(--size-6);
}

.e-main__title.is-left {
  text-align: left;
  margin-block: var(--size-6);
  margin-inline: auto;
  max-width: rem(576);
}

.e-main__body {
  margin-inline: auto;
  max-width: rem(576);
}
