@use '../abstracts' as *;

.e-main {
  flex: 1;
  padding-top: var(--dim-3);

  @media (--tablet) {
    padding-top: var(--dim-7);
    // Make room for navbar...
    padding-inline-start: var(--navbar-area);
  }
}

:where(.e-page:not(.is-app)) .e-main {
  padding-top: var(--dim-5);

  @media (--tablet-l) {
    // On promotional and informational pages, the navbar is located at the top.
    padding-top: rem(144);
    padding-inline-start: 0;
  }
}

.e-main__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--dim-2);
  margin-bottom: var(--dim-lh);

  > h1 {
    flex: 1 1 auto;
    margin: 0;
    padding-inline: 0;
    min-width: 50%;
  }
}

.e-main__header-tabs {
  flex: 0 0 auto;
  min-width: max-content;
}

.e-main__title {
  text-align: center;
  margin-block: var(--dim-6);
}

.e-main__title.is-left {
  text-align: left;
  margin-block: var(--dim-6);
  margin-inline: auto;
  max-width: rem(576);
}

.e-main__body {
  margin-inline: auto;
  max-width: rem(576);
}
