// См. более лучшее решение — контейнер с прокруткой ограниченной высотой
// и удобная прокрутка по двум осям:
// https://www.taniarascia.com/horizontal-scroll-fixed-headers-table/

@use '../abstracts' as *;

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region
table {
  --table-border-color: var(--color-border);
  --table-border-width: var(--border-width);
  --cell-padding-x: var(--dim-2);
  --cell-padding-y: var(--dim-1p5);

  border-collapse: collapse;
  border-spacing: 0;
  font-variant-numeric: lining-nums tabular-nums;
  text-indent: 0;
  margin-top: var(--lh);
  margin-bottom: var(--lh);
  width: 100%;
}

caption {
  font-weight: 700;
  text-align: left;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}
// #endregion

// -----------------------------------------------------------------------------
// THEAD
// -----------------------------------------------------------------------------
// #region
thead th {
  box-shadow: none;
  color: var(--color-text-02);
  cursor: default;
  font-size: var(--font-size-body-sm);
  position: relative;
  padding-top: var(--cell-padding-y);
  vertical-align: middle;

  &:not(:first-child)::before,
  &.has-separator::before {
    border-left: rem(1) solid var(--color-border);
    content: '';
    position: absolute;
    top: 50%;
    inset-inline-start: 0;
    translate: 0 (-50%);
    height: var(--dim-3);
  }

  &[rowspan='2'] {
    vertical-align: bottom;
    padding-bottom: rem(13);

    &::before {
      top: auto;
      bottom: var(--size1p5);
      translate: none;
    }
  }

  &[colspan] {
    vertical-align: bottom;
    padding-bottom: rem(13);
  }
}

thead,
table:not(:has(thead)) > tbody > tr:first-child {
  td,
  th {
    border-top: 0;
    height: var(--dim-6);
  }
}

:where(thead) th:not(:has(.e-btn), [rowspan='2']) {
  padding-top: rem(1);
  padding-bottom: 0;
}
// #endregion

// -----------------------------------------------------------------------------
// THEAD SORT CONTROLS
// -----------------------------------------------------------------------------
// #region
.table__cell:has(.e-btn.is-sort) {
  padding-block: var(--dim-0p5);
}

.e-btn.is-sort {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  justify-content: start;
  padding: 0;
  width: 100%;
  transition: color var(--duration-100) var(--easing-base);

  &:hover {
    --icon-stroke: var(--color-text);
    background-image: none;
    color: var(--color-text);
  }

  .table__cell.is-num & {
    justify-content: end;
  }
}


:where(.e-btn.is-sort) {
  > .e-icon {
    display: none;
    margin-inline: rem(-8);
    opacity: 0;
    transition: all var(--duration-100) var(--easing-base);
    transition-behavior: allow-discrete;
    width: 0;
    min-width: none;
  }

  &.is-active > .e-icon {
    display: block;
    opacity: 1;
    width: var(--dim-icon);
    min-width: var(--dim-icon);

    @starting-style {
      opacity: 0;
    }
  }

  &.is-desc > .e-icon {
    rotate: -180deg;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// ROWS
// -----------------------------------------------------------------------------
// #region
:where(.table.has-hovered-rows tbody) /* tr */.is-clickable {
  cursor: pointer;
  transition: background-color var(--duration-100) var(--easing-base);

  &:hover {
    background-color: var(--color-fill);
    text-decoration: none;
  }
}

// Focusable rows
tbody tr[tabindex='0']:focus-visible {
  @include state-focus($size: rem(2), $offset: rem(-2));
  background-color: hsl(var(--h) var(--s) var(--l) / 0.08);
}

tbody tr:has(.table__link:focus-visible) {
  @include state-focus($size: rem(2), $offset: rem(-2));
  background-color: hsl(var(--h) var(--s) var(--l) / 0.08);
}
// #endregion

.table__th-actions {
  display: flex;
  align-items: center;
  gap: var(--dim-0p5);
  justify-content: end;
}

// -----------------------------------------------------------------------------
// CELLS
// -----------------------------------------------------------------------------
// #region
th,
td {
  border: 0;
  box-shadow: inset 0 rem(1) 0 var(--table-border-color);
  text-align: left;
  padding: calc(var(--cell-padding-y) - 1px) var(--cell-padding-x)
    var(--cell-padding-y);
  vertical-align: top;
}

.table__cell.is-text,
.table__cell.is-2-liner {
  text-align: left;
}

.table__cell.is-num {
  text-align: right;
}

.table__cell.is-date {
  color: var(--color-text-02);
  text-align: center;
}

.table__cell.is-icon,
.table__cell.is-action {
  text-align: center;
  white-space: nowrap;
  width: 1%;
}

.table__cell.is-action {
  padding: var(--dim-0p5) var(--dim-1);
  width: var(--dim-7);
}

.table__cell.is-positive {
  color: var(--color-text-success);
}

.table__cell.is-negative {
  color: var(--color-text-error);
}

.table__cell.is-2-liner {
  padding-block: var(--dim-0p5);
  min-width: 12ch;
}

:where(.table__cell) .table__link {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

:where(.table__cell) .table__link:hover {
  text-decoration: none;
}

:where(.table.has-2-liners) {
  td,
  th {
    vertical-align: middle;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------
// #region

tfoot th,
tfoot td {
  border-bottom: 0;
}
// #endregion

// -----------------------------------------------------------------------------
// STATES
// -----------------------------------------------------------------------------
// #region
.table__cell.is-loading-state,
.table__cell.is-empty-state {
  background-image: radial-gradient(
    100% 50% at 50% 100%,
    var(--color-bg-warning)
  );
  text-align: center;
  color: var(--color-text-02);
  padding: var(--dim-5);
  vertical-align: middle;
}

:where(.table__cell.is-loading-state) p {
  position: relative;
  padding-bottom: rem(10);

  &::after {
    animation: loader 2s linear infinite;
    background: linear-gradient(var(--color-brand-primary) 0 0) 0 100% / 0% 3px
      no-repeat;
    content: '';
    padding-bottom: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.table__cell.is-error-state {
  background-image: radial-gradient(
    100% 50% at 50% 100%,
    var(--color-bg-error)
  );
  color: var(--color-text-error);
}

.table__cell.is-error-state .e-btn {
  // Retry Button
  display: flex;
  margin-top: var(--dim-2);
  margin-inline: auto;
}

.table__cell.is-updated,
[id='crypto-table'] thead.is-updated tr {
  animation: 1.6s var(--easing-appearance) forwards running cell-blink;
}

@keyframes cell-blink {
  0% {
    background-color: var(--tr-highlight);
  }
  40% {
    color: var(--tr-highlight);
  }
  100% {
    background: transparent;
  }
}

// #endregion

// SCROLLER
// #region
// Стили для горизонтальной прокрутки таблиц
.scroll-x,
.e-scroller {
  table {
    margin: 0;
    width: auto;
    max-width: none;
    min-width: 100%;

    td,
    th {
      scroll-snap-align: start;
    }
  }
}
// #endregion
