<dialog class="modal" id="modal-example">
  <article>
    <button class="btn is-close" type="button" data-role="close-modal" aria-label="Close"></button>
    <header>
      <h2>Lorem</h2>
    </header>
    <p>ipsum dolor sit amet consectetur.</p>
  </article>
</dialog>

{# <script src="{{ ExtraData.assets_prefix }}/assets/js/main.js" type="module"></script> #}
