@use 'sass:math';
@use '../abstracts' as *;

:root {
  --h: 254;
  --l: 78%;
  --s: var(--s-base);

  --h-green: 168;
  --h-red: 353;
  --h-yellow: 45;

  --s-base: 88%;
  --s-min: 11%;

  --color-brand-primary: hsl(var(--h) var(--s) var(--l));

  --color-bg-02: hsl(var(--h) var(--s-min) 97%);
  --color-bg-z1: hsl(var(--h) var(--s-min) 99%);

  --color-bg-info: hsl(var(--h) var(--s) 95%);
  --color-bg-warning: hsl(var(--h-yellow) var(--s) 85%);
  --color-bg-error: hsl(var(--h-red) var(--s) 94%);

  --color-text: rgb(0 0 0 / 0.87);
  --color-text-02: rgb(0 0 0 / 0.6);
  --color-text-03: rgb(0 0 0 / 0.38);
  --color-border: rgb(0 0 0 / 0.08);
  --color-fill: rgb(var(--h) var(--s-min) 11% / 0.04);

  --color-text-info: hsl(var(--h) var(--s) 61%);
  --color-text-02-info: hsl(var(--h) var(--s) 70%);
  --color-text-error: hsl(var(--h-red) var(--s) 44%);
  --color-text-02-error: hsl(var(--h-red) var(--s) 61%);
  --color-text-warning: hsl(var(--h-yellow) var(--s) 27%);
  --color-text-02-warning: hsl(var(--h-yellow) var(--s) 35%);
  --color-text-success: hsl(var(--h-green) var(--s) 25%);
  --color-text-02-success: hsl(var(--h-green) var(--s) 32%);

  --dir: ltr;

  --font-weight-title: 500;
  --font-weight-h3: 500;

  --font-size-h2: #{rem(22)};
  --font-weight-h2: 500;
  --letter-spacing-h2: 0;
  --line-height-h2: #{math.div(32, 22)};
  --padding-top-h2: 0;
  --padding-bottom-h2: 0;

  --padding-top-base: 6px;
  --padding-bottom-base: 2px;

  --font-size-body-sm: 15px;
  --line-height-body-sm: math.div(20, 15);
  --letter-spacing-body-sm: 0.1px;

  --font-size-fine-print: 12px;
  --line-height-fine-print: math.div(16, 12);
  --padding-top-fine-print: 4px;
  --padding-bottom-fine-print: 4px;

  --dim-1: 8px;
  --dim-1p5: 12px;
  --dim-2: 16px;
  --dim-2p5: 20px;
  --dim-3: 24px;
  --dim-5: 40px;

  --radius-base: var(--dim-1p5);
  --radius-sm: var(--dim-1);
  --radius-lg: #{rem(28)};

  --duration-100: 0.11s;
  --duration-200: 0.15s;

  --easing-base: cubic-bezier(0.2, 0, 0.38, 0.9);
}

[data-theme='dark'] {
  --color-bg-02: hsl(var(--h) var(--s-min) 24%);
  --color-bg-z1: hsl(var(--h) var(--s-min) 18%);

  --color-bg-warning:
    hsl(var(--h-yellow) var(--s) 36% / 0.2),
    hsl(var(--h-yellow) var(--s) 36% / 0.15) 33.33%,
    hsl(var(--h-yellow) var(--s) 36% / 0);
  --color-bg-error:
    hsl(var(--h-red) var(--s) 63% / 0.6),
    hsl(var(--h-red) var(--s) 63% / 0.3) 33.33%,
    hsl(var(--h-red) var(--s) 63% / 0);
  --color-bg-info:
    hsl(var(--h) var(--s) 92% / 0.1), hsl(var(--h) var(--s) 92% / 0.05) 33.33%,
    hsl(var(--h) var(--s) 92% / 0);

  --color-text: rgb(255 255 255 / 0.87);
  --color-text-02: rgb(255 255 255 / 0.6);
  --color-text-03: rgb(255 255 255 / 0.38);
  --color-border: rgb(255 255 255 / 0.08);
  --color-fill: rgb(255 255 255 / 0.04);

  --color-text-error: hsl(var(--h-red) var(--s) 76%);
  --color-text-02-error: hsl(var(--h-red) var(--s) 63%);
  --color-text-warning: hsl(var(--h-yellow) var(--s) 43%);
  --color-text-02-warning: hsl(var(--h-yellow) var(--s) 34%);
  --color-text-success: hsl(var(--h-green) var(--s) 38%);
  --color-text-02-success: hsl(var(--h-green) var(--s) 31%);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--color-bg-02);
  border-radius: var(--radius-base);
  box-shadow: inset 0 0 0 1px var(--color-border);
  color: var(--color-text);
  contain: content;
  font: 17px/1.4112 system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
  letter-spacing: 0.011em;
  isolation: isolate;
}

.widget {
  padding: var(--dim-2p5);
  margin-bottom: 0;
  margin-inline: auto;
  max-width: 920px;
}

h1, .e-h1,
h2, .e-h2,
h3, .e-h3 {
  display: block;
  font-family: var(--font-family-titles);
  font-weight: 500;
  text-wrap: balance;
  margin-block: 0;
  text-rendering: optimizeLegibility;
}

h3,
.e-h3 {
  @include text-format(h3);
  font-weight: var(--font-weight-h3, bold);
  letter-spacing: var(--letter-spacing-h3);
}

p {
  font-variant-numeric: oldstyle-nums;
  margin-block: 0;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}

.widget__provider {
  padding-top: var(--dim-1);
  padding-inline: var(--dim-1p5);

  > a {
    align-items: center;
    display: flex;
    font-size: var(--font-size-fine-print);
    font-weight: 500;
    gap: var(--dim-1);
    line-height: var(--line-height-fine-print);
    margin-top: var(--dim-1);

    &,
    &:active,
    &:hover {
      color: var(--color-text-02);
      text-decoration: none;
    }

    img {
      height: 16px;
      width: 16px;
    }
  }
}

// -----------------------------------------------------------------------------
// UTILITIES
// -----------------------------------------------------------------------------

.text-secondary {color: var(--color-text-02);}
.text-success { color: var(--color-text-success);}
.text-warning { color: var(--color-text-warning);}
.text-error { color: var(--color-text-error);}

.d-none {
  display: none;
}

@media only screen and (min-width: 568px) {
  .phone-l\:d-none {
    display: none;
  }

  .phone-l\:d-block {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .tablet\:d-none {
    display: none;
  }

  .tablet\:d-block {
    display: flex;
  }
}
