@use 'sass:math';
@use '../abstracts' as *;
@use '../abstracts/custom';
@use 'base';

// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------
// #region
.e-asset-details__header {
  display: flex;
  gap: var(--dim-3);
  padding-bottom: var(--dim-3);
}

.e-asset-details__figure {
  display: none;

  @media (--phone-l) {
    border-radius: 50%;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // Prevents SVG distortion
    object-fit: contain;
  }
}

.e-asset-details__icon {
  width: var(--dim-5);
  height: var(--dim-5);
}

.e-asset-details__summary {
  flex-grow: 1;
  padding-inline-end: var(--dim-2);
}

:where(.e-asset-details__summary > .e-eyebrow) {
  position: relative;

  .e-icon {
    display: none;
  }

  @media (--phone-l) {
    .e-icon {
      display: block;
      position: absolute;
      top: 50%;
      inset-inline-start: rem(-24);
      translate: 0 (-50%);
    }
  }
}

:where(.e-asset-details) .e-row {
  display: flex;
  flex-direction: column;

  @media (--tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.e-asset-details__symbol,
.e-asset-details__price {
  @include text-format('h2');
}

.e-asset-details__symbol {
  margin-top: var(--dim-1);
  margin-bottom: 0;

  @media (--tablet) {
    margin-top: 0;
  }
}

.e-asset-details__price {
  font-weight: var(--font-weight-title);
  margin-top: 0;
  margin-bottom: var(--dim-1);

  @media (--tablet) {
    margin-bottom: 0;
  }
}

.e-asset-details__header p {
  margin-bottom: 0;
}

.e-asset-details__price-change {
  @include text-format('h3');

  padding-inline-start: 1ch;

  &.is-positive {
    color: var(--color-text-success);
  }

  &.is-negative {
    color: var(--color-text-error);
  }
}

.e-asset-details__title,
.e-asset-details__stats span {
  @include text-format('body-sm');
  color: var(--color-text-02);
}

.e-asset-details__stats {
  display: flex;
  gap: var(--dim-1);
}
// #endregion

// -----------------------------------------------------------------------------
// CHART
// -----------------------------------------------------------------------------
// #region

.e-chart,
.e-asset-details__chart {
  position: relative;
  width: 100%;
  height: 288px;

  > div:not(.e-chart__error):not(.e-chart__loader) {
    height: 100%;
  }

  > div {
    max-height: 100%;
  }

  canvas {
    width: 100%;
    max-width: none;
    height: 100%;
  }
}

.e-chart {
  margin: 0;
  height: 288px;
}

.e-asset-details__chart {
  height: 100%;
  min-height: 288px;
}

.e-chart__loader,
.e-chart__error {
  border-radius: var(--radius-base);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--dim-3);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% (-50%);
  height: auto;
  z-index: 2;
}

.e-chart__loader {
  background-color: var(--color-bg-info);
  color: var(--color-text-info);

  [data-theme='dark'] & {
    background-color: var(--color-bg-z1);
    background-image: radial-gradient(circle 216px at 0 100%, var(--color-bg-info));
    color: rgb(255 255 255 / 0.7);
  }
}

.e-chart__error {
  background-color: var(--color-bg-error);
  color: var(--color-text-error);

  [data-theme='dark'] & {
    background-color: var(--color-bg-z1);
    background-image: radial-gradient(circle 216px at 0 100%, var(--color-bg-error));
    color: rgb(255 255 255 / 0.7);
  }
}
