@use 'sass:math';
@use '../abstracts' as *;
@use '../abstracts/custom';
@use 'base';

:root {
  --gauge-stroke: hsl(var(--h) var(--s-min) 11% / 0.12);
  --gauge-stroke-on: var(--color-text-02);

  --gauge-stroke-extreme-fear: var(--color-text-02-error);
  --gauge-stroke-fear: hsl(26 var(--s) 46%);
  --gauge-stroke-neutral: var(--color-text-02-warning);
  --gauge-stroke-greed: hsl(107 var(--s) 33%);
  --gauge-stroke-extreme-greed: var(--color-text-02-success);
}

[data-theme='dark'] {
  --gauge-stroke: hsl(var(--h) var(--s-min) 99% / 0.12);
  --gauge-stroke-on: var(--color-text-02);

  --gauge-stroke-extreme-fear: var(--color-text-02-error);
  --gauge-stroke-fear: hsl(26 var(--s) 46%);
  --gauge-stroke-neutral: var(--color-text-02-warning);
  --gauge-stroke-greed: hsl(107 var(--s) 33%);
  --gauge-stroke-extreme-greed: var(--color-text-02-success);
}

.fgi.widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.e-h3 {
  text-align: center;
  margin-bottom: -8px;
}

.e-card__description {
  color: var(--color-text-02);
  text-align: center;
}

.e-card__gauge {
  flex-shrink: 0;
  position: relative;
  width: max-content;
}

.e-card__gauge-base path {
  stroke: var(--gauge-stroke);
  transition: stroke var(--duration-100) var(--easing-base);
}

.e-card__gauge-pointer {
  --gauge-stroke: var(--color-text-03);
  position: absolute;
  bottom: rem(-6);
  left: 50%;
  translate: -50% 0;
}
