@use 'abstracts/mixins' as *;

// #region: SPACING

.mt-1 { margin-top: var(--dim-1); }
.mt-2 { margin-top: var(--dim-2); }
.mt-1l { margin-top: var(--dim-lh); }
.mt-2l { margin-top: var(--dim-6); }
.mt-auto { margin-top: auto; }
.mt-half-max { margin-top: var(--spacer-half-max); }
.mt-max { margin-top: var(--spacer-max); }

.mb-1 { margin-bottom: var(--dim-1); }
.mb-2 { margin-bottom: var(--dim-2); }
.mb-1l { margin-bottom: var(--dim-lh); }

.me-1 { margin-inline-end: var(--dim-1); }
.mx-auto { margin-inline: auto; }

.pb-0 { padding-bottom: 0;}

.pt-half-max { padding-top: var(--spacer-half-max); }
.pb-half-max { padding-bottom: var(--spacer-half-max); }
.py-half-max {
  padding-top: var(--spacer-half-max);
  padding-bottom: var(--spacer-half-max);
}

.pt-max { padding-top: var(--spacer-max); }
.pb-max { padding-bottom: var(--spacer-max); }

.ps-0 { padding-inline-start: 0;}
// #endregion

// #region: SIZE
.max-w-none { max-width: none; }
.max-w-prose { max-width: var(--width-readable); }
.w-1\/2	{ width: calc((100% - var(--gap, 0)) / 2); }
.w-100	{ width: 100%; }
// Use with inline-block elements with tooltips
.w-fit { width: fit-content; }

// #endregion

// #region:DISPLAY

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

@media (--phone-l) {
  .phone-l\:d-none { display: none; }
  .phone-l\:d-inline { display: inline; }
}

@media (--tablet) {
  .tablet\:d-none {
    display: none;
  }

  .tablet\:d-inline {
    display: inline;
  }

  .tablet\:d-flex {
    display: flex;
  }

  .tablet\:d-block {
    display: flex;
  }
}

@media (--tablet-l) {
  .tablet-l\:d-none {
    display: none;
  }

  .tablet-l\:d-block {
    display: block;
  }

  .tablet-l\:d-inline {
    display: inline;
  }
}

@media (--laptop) {
  .laptop\:d-none {
    display: none;
  }
}
// #endregion

// #region: FLEX AND GRID
.align-center { align-items: center; }
.gap-1 { gap: var(--dim-1); }
.gap-2 { gap: var(--dim-2); }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
// #endregion

// #region: TYPOOGRAPHY

.nobr { white-space: nowrap; }
.text-02 { color: var(--color-text-02); }
.text-sm {
  @include text-format('body-sm');
}
.text-center { text-align: center; }
.text-error { color: var(--color-text-error); }
.text-highlight { color: var(--color-text-info); }
.text-right { text-align: right; }
.text-success { color: var(--color-text-success); }
.text-warning { color: var(--color-text-warning); }
// #endregion

// #region: MISC

.bg-error { background-color: var(--color-text-02-error);}
.bg-success { background-color: var(--color-text-02-success); }
.bg-fill { background-color: var(--color-fill); }

.border-t-0 {
  border-top: 0;
}

.visually-hidden {
  @include visually-hidden;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}
// #endregion
